mixin tabs()
  div(ng-if="(workspace.tabs | objectKeys).length < 5")
    ul.nav.nav-tabs
      li.workspace-tab.workspace-file-tab(
        ng-repeat="tabName in workspace.tabs |objectKeys|orderBy:tabsOrdering",
        ng-class="{'workspace-tab-active': workspace.active === tabName && !output.show }")
        a.cursor-pointer(
            class="{{ 'type-' + getType(tabName) }}",
            ng-click="workspace.active = tabName;output.show = false") 
            span.fa.fa-circle.type-icon
            |  {{ toFileName(tabName) }}
        a.cursor-pointer.workspace-tab-close(ng-click="removeTab(tabName)", tooltip="Delete", tooltip-placement="right",
              analytics-event="workspace-deleteTab", analytics-category="workspace")
            | x
        a.cursor-pointer.workspace-tab-edit(ng-click="editTabName(tabName)", tooltip="Edit name", tooltip-placement="right",
            analytics-event="workspace-editTab", analytics-category="workspace")
          span.fa.fa-pencil
            
      li.workspace-tab.add-tab
        a.cursor-pointer(ng-click="insertTab()", title="Add New File")
          | +
mixin tabsStacked()
  .pull-left(ng-if="(workspace.tabs | objectKeys).length >= 5", style="height:95%;overflow-y:auto")
    ul.nav.nav-pills.nav-stacked
      li.workspace-tab.workspace-file-tab(
        ng-repeat="tabName in workspace.tabs |objectKeys|orderBy:tabsOrdering",
        ng-class="{'workspace-tab-active': workspace.active === tabName && !output.show }")
        a.cursor-pointer(
            class="{{ 'type-' + getType(tabName) }}",
            ng-click="workspace.active = tabName;output.show = false") 
            span.fa.fa-circle.type-icon
            |  {{ toFileName(tabName) }}
        a.cursor-pointer.workspace-tab-close(ng-click="removeTab(tabName)", 
            tooltip="Delete", tooltip-placement="right",
              analytics-event="workspace-deleteTab", analytics-category="workspace")
            | x
        a.cursor-pointer.workspace-tab-edit(ng-click="editTabName(tabName)", 
            tooltip="Edit name", tooltip-placement="right",
            analytics-event="workspace-editTab", analytics-category="workspace")
          span.fa.fa-pencil
            
      li.workspace-tab.add-tab
        a.cursor-pointer(ng-click="insertTab()", title="Add New File")
          | +



