mixin tabs()
  .sw-workspace-tab-container(ng-if="(workspace.tabs | objectKeys).length < 7", dm-defer="300")
    ul.nav.nav-tabs(
      data-intro="All Files in your workspace are available here. Make sure to check what additional buttons do by hovering your mouse." data-position="bottom"
      )
      li.workspace-tab.workspace-file-tab(
        ng-repeat="tabName in workspace.tabs |objectKeys|orderBy:tabsOrdering",
        ng-class="{'workspace-tab-active': workspace.active === tabName && !output.show }")
        a.cursor-pointer(
            class="{{ 'type-' + getType(tabName) }}",
            ng-click="activateTab(tabName);") 
            span.fa-fw.workspace-tab-icon
              span.fa.fa-circle.type-icon
              span.text-muted.fa.fa-close.cursor-pointer(
                ng-click="removeTab(tabName); $event.stopPropagation()", 
                tooltip="Delete", tooltip-placement="bottom",tooltip-animation='false',tooltip-append-to-body="true",
                analytics-event="workspace-deleteTab", analytics-category="workspace")

            |  {{ toFileName(tabName) }}
              
      li.workspace-tab.add-tab
        a.cursor-pointer(ng-click="insertTab()", title="Add New File")
          | +
mixin tabsStacked()
  .pull-left.sw-tabs(ng-if="(workspace.tabs | objectKeys).length >= 7", style="height:calc(100% - 26px);overflow-y:auto", dm-defer="400")
    ul.nav.nav-pills.nav-stacked
      li.workspace-tab.workspace-file-tab(
        ng-repeat="tabName in workspace.tabs |objectKeys|orderBy:tabsOrdering",
        ng-class="{'workspace-tab-active': workspace.active === tabName && !output.show }")
        a.cursor-pointer(
            class="{{ 'type-' + getType(tabName) }}",
            ng-click="activateTab(tabName);") 
            span.fa-fw.workspace-tab-icon
              span.fa.fa-circle.type-icon
              span.text-muted.fa.fa-close.cursor-pointer(
                ng-click="removeTab(tabName); $event.stopPropagation()", 
                tooltip="Delete", tooltip-placement="bottom",tooltip-animation='false', tooltip-append-to-body="true",
                analytics-event="workspace-deleteTab", analytics-category="workspace")

            |  {{ toFileName(tabName) }}
            
      li.workspace-tab.add-tab
        a.cursor-pointer(ng-click="insertTab()", title="Add New File")
          | +



