include ./file-tabs

.sw-col.full-height(
    ng-class="{'side-by-side': output.sideBySide, 'no-preview': !output.sideBySide }",
    ng-style="{width: output.leftSize}")
    .full-height
        .clearfix
          ul.nav.nav-tabs.pull-right
              li.workspace-tab.workspace-sidebyside.pull-right
                a.cursor-pointer(
                  title="Hide Preview",
                  ng-click="changeWidth()", analytics-event="workspace-changeWidth", analytics-category="workspace")
                      span.fa.fa-arrows-h
              li.workspace-tab.pull-right.workspace-tab-condensed
                a.cursor-pointer(
                  title="Open Your Page in New Window",
                  ng-href="/api/page/{{ output.hash }}/", 
                  target="_blank", 
                  tooltip="Open your page in new window",
                  analytics-event="workspace-newWindow",
                  analytics-category="workspace")
                      span.fa.fa-external-link
              li.workspace-tab.workspace-download.pull-right.workspace-tab-condensed
                a.cursor-pointer(
                  title="Download ZIP with your code",
                  ng-href="/api/download/{{output.hash}}", analytics-event="workspace-download", analytics-category="workspace")
                      span.fa.fa-download
              li.workspace-tab.workspace-upload.pull-right.workspace-tab-condensed
                  a(ng-if="isUploading")
                      | Uploading {{ uploadingState }}%
                  div.cursor-pointer(analytics-event="workspace-upload", analytics-category="workspace", analytics-on="click", ng-if="!isUploading", 
                      title="Upload ZIP file with your code")
                      input.cursor-pointer(type="file", ng-file-select="onFileSelect($files)", title="Upload saved ZIP with files")
                      span.fa.fa-upload
              li.workspace-tab.pull-right(ng-if="hasFormatting()")
                  a.cursor-pointer(title="Reformat your code", ng-click="formatTab()")
                      span.fa.fa-indent

          ul.nav.nav-tabs.pull-left
              li.workspace-tab.workspace-tab-output.pull-right(
                  ng-if="!output.sideBySide", ng-class="{'workspace-tab-active': output.show}")
                  a.cursor-pointer(ng-click="output.show = true")
                    | Preview
          +tabs()
        +tabsStacked()
        .tab-content(ng-show="!output.show")
            .tab-pane.active.fade.in.scrollable-container
              dm-editor(
                size='workspace.size', 
                data='activeTab',
                name='workspace.active',
                undo-manager='undoManager',
                options='workspace',
                editor-mode='mode',
                trigger-save='triggerSave()',
                trigger-change-later='triggerChangeLater()'
              )
            .errors.alert.alert-danger.errors-fiddle {{ errors }}
        .tab-content(ng-show="output.show", ng-if="!output.sideBySide")
          slide-workspace-output.full-height
sw-splitter(left="output.leftSize", right="output.rightSize", drag-active="output.dragActive")
.sw-col.full-height(
    ng-style="{width: output.rightSize}"
    ng-if="output.sideBySide"
    )
    .full-height
        .overlay(ng-if="output.dragActive")
        slide-workspace-output.full-height

