include ./file-tabs

.sw-row(
  ng-style="{height: output.topSize}")
  .full-height
      .clearfix
        ul.nav.nav-tabs.pull-right
            li.workspace-tab.pull-right.workspace-tab-condensed(ng-if="!output.showUrl && workspace.showUrl === false")
              a.cursor-pointer(
                title="Open Your Page in New Window",
                ng-href="{{ output.contentUrl }}", 
                target="_blank", 
                tooltip="Open your page in new window",
                analytics-event="workspace-newWindow",
                analytics-category="workspace")
                    span.fa.fa-external-link
            li.workspace-tab.workspace-download.pull-right.workspace-tab-condensed
              a.cursor-pointer(
                title="Download ZIP with your code",
                ng-href="/api/download/{{output.hash}}", analytics-event="workspace-download", analytics-category="workspace")
                    span.fa.fa-download
            li.workspace-tab.workspace-upload.pull-right.workspace-tab-condensed(tooltip="Upload saved ZIP with files")
                a(ng-if="isUploading")
                    | Uploading {{ uploadingState }}%
                div.cursor-pointer(analytics-event="workspace-upload", analytics-category="workspace", analytics-on="click", ng-if="!isUploading", 
                    title="Upload ZIP file with your code")
                    input.cursor-pointer(type="file", ng-file-select="onFileSelect($files)")
                    span.fa.fa-upload
            li.workspace-tab.pull-right.workspace-tab-condensed
              a.cursor-pointer(
                title="Reformat your code", 
                ng-disabled="!hasFormatting()"
                ng-click="formatTab()")
                  span.fa.fa-indent
        +tabs()
      .tab-content
        +tabsStacked()
        .full-height(ng-show="!output.show")
            .tab-pane.active.fade.in.scrollable-container
              dm-editor(
                size='workspace.size', 
                data='activeTab',
                name='workspace.active',
                undo-manager='undoManager',
                options='workspace',
                editor-mode='mode',
                trigger-change-later='triggerChangeLater()'
              )
            .errors.alert.alert-danger.errors-fiddle {{ errors }}

sw-splitter(left="output.topSize", right="output.bottomSize", drag-active="output.dragActive", is-row="true")
.sw-row(
    ng-style="{height: output.bottomSize}")
    .full-height(ng-init="outputInCols=true")
        .overlay(ng-if="output.dragActive")
        slide-workspace-output.full-height

