.col-xs-12.sw-col.size-half-height1
    .row.full-height
        ul.nav.nav-tabs
            li.workspace-tab.workspace-file-tab(
                tooltip="{{ ((workspace.tabs | objectKeys).length > 4 ? toFileName(tabName) : '') }}",
                tooltip-placement="bottom",
                ng-repeat="tabName in workspace.tabs |objectKeys|orderBy:tabsOrdering",
                ng-class="{'workspace-tab-active': workspace.active === tabName && !output.show }")
                a.cursor-pointer(
                    class="{{ 'type-' + getType(tabName) }}",
                    ng-click="workspace.active = tabName;output.show = false") 
                    span.fa.fa-circle.type-icon
                    |  {{ toFileName(tabName) }}
                a.cursor-pointer.workspace-tab-close(ng-click="removeTab(tabName)", tooltip="Delete", tooltip-placement="right",
                    analytics-event="workspace-deleteTab", analytics-category="workspace")
                    | x
                a.cursor-pointer.workspace-tab-edit(ng-click="editTabName(tabName)", tooltip="Edit name", tooltip-placement="right",
                    analytics-event="workspace-editTab", analytics-category="workspace")
                    span.fa.fa-pencil
            li.workspace-tab.add-tab
                a.cursor-pointer(ng-click="insertTab()", title="Add New File")
                    | +
            li.workspace-tab.pull-right.workspace-tab-condensed
              a.cursor-pointer(
                title="Open Your Page in New Window",
                ng-href="/api/page/{{ output.hash }}/", 
                target="_blank", 
                tooltip="Open your page in new window",
                analytics-event="workspace-newWindow",
                analytics-category="workspace")
                    span.fa.fa-external-link
            li.workspace-tab.workspace-download.pull-right.workspace-tab-condensed
              a.cursor-pointer(
                title="Download ZIP with your code",
                ng-href="/api/download/{{output.hash}}", analytics-event="workspace-download", analytics-category="workspace")
                    span.fa.fa-download
            li.workspace-tab.workspace-upload.pull-right.workspace-tab-condensed(tooltip="Upload saved ZIP with files")
                a(ng-if="isUploading")
                    | Uploading {{ uploadingState }}%
                div.cursor-pointer(analytics-event="workspace-upload", analytics-category="workspace", analytics-on="click", ng-if="!isUploading", 
                    title="Upload ZIP file with your code")
                    input.cursor-pointer(type="file", ng-file-select="onFileSelect($files)")
                    span.fa.fa-upload
            li.workspace-tab.pull-right(ng-if="hasFormatting()")
                a.cursor-pointer(title="Reformat your code", ng-click="formatTab()")
                    span.fa.fa-indent

        .tab-content(ng-show="!output.show")
            .tab-pane.active.fade.in.scrollable-container
              dm-editor(
                size='workspace.size', 
                data='activeTab',
                name='workspace.active',
                undo-manager='undoManager',
                options='workspace',
                trigger-save='triggerSave()',
                trigger-change-later='triggerChangeLater()'
              )
            .errors.alert.alert-danger.errors-fiddle {{ errors }}
.col-xs-12.sw-col.size-half-height2
    .row.full-height
        slide-workspace-output.full-height

