mixin editor(idx)
  dm-editor(
    size='workspace.size', 
    data='workspace.tabs[layout.options[#{idx}]]',
    name='layout.options[#{idx}]',
    undo-manager='undoManager',
    options='workspace',
    trigger-change-later='triggerChangeLater()',
    editor-mode="mode"
  )

