.full-height
  .dm-player-subtitles(
      ng-class="{'faded': showAnno == false, 'minimized': minimized, 'small': !anno.description }"
    )
      .dm-player-subtitles-hidden(ng-show="anno.description")
        .dm-annos-item(ng-if="anno.type !== 'pause'")
                dm-annotation(annotation='anno', showIteration='showAll', ng-if='anno.type === "snippet" || anno.type === "comment"')
                dm-microtask(microtask='anno', ng-if='anno.type === "task"')

      a.dm-player-subtitles-minimize(ng-click="minimized = !minimized", ng-show="anno.description")
          span.fa.fa-times.fa-fw(ng-show="!minimized")

      button.btn.btn-default.pull-left.btn-next-subtitle.btn-block(
              ng-click="runNext(); minimized=false",
              ng-show="nextStop < maxNextStop")
                span.fa.fa-play.fa-fw
      // Comment            
        a.btn.btn-default.pull-left.btn-next-subtitle.btn-block(
                ui-sref="index.space.workspace({slide: workspaceId, parent:null})",
                ng-show="nextStop === maxNextStop")
                  span.fa.fa-wrench.fa-fw
                  span Back to your Code

  .full-height
    plugins-loader(namespace="'slide'", context="slide", mode="state.isPlaying ? 'player' : ''")
