mixin nextButtons(icon)
    button.btn.btn-default.btn-next-subtitle(
      autofocus,
      ng-click="runNext()",
      ng-show="nextStop < maxNextStop && !state.isPlaying")
        span.fa.fa-fw(class="fa-#{icon}")

mixin withSubtitles()
  .dm-player
    block
  .dm-player-subtitles-container(ng-init="subs = {}")
    .dm-player-subtitles.moveable.faded(
        ng-show="!state.firstRun"
        ng-class="{'minimized': subs.isMinimized}"
      )
      .pull-right
        a.btn-minimize(ng-click="subs.isMinimized = !subs.isMinimized")
          span.fa.fa-minus
      .dm-annos-item(ng-if="anno.type !== 'pause'")
        dm-annotation(
          annotation='anno'
          showIteration='showAll'
          ng-if='anno.type === "snippet" || anno.type === "comment"'
          )
        dm-microtask(
          microtask='anno'
          ng-if='anno.type === "task"'
          )
      +nextButtons('arrow-right')

    .dm-player-subtitles.fixed(
      ng-class="{'faded': !state.isPlaying && !subs.isMinimized, 'showNow': subs.isMinimized }"
      )
      .pull-right
        a.btn-minimize(ng-click="subs.isMinimized = !subs.isMinimized")
          span.fa.fa-plus
      .dm-annos-item(ng-if="anno.type !== 'pause'")
        dm-annotation(
          annotation='anno'
          showIteration='showAll'
          ng-if='anno.type === "snippet" || anno.type === "comment"'
          )
        dm-microtask(
          microtask='anno'
          ng-if='anno.type === "task"'
          )


.full-height
  .dm-player-subtitles-btn(
      data-intro="You might find it best to watch video in full screen. You can start video by pressing space."
      ng-if="state.firstRun && !state.isPlaying"
      ng-class="{'faded': hideBtn}"
    )
    .pull-left
      +nextButtons('play')

  .full-height(ng-if="!withSidebar")
    +withSubtitles
      plugins-loader(namespace="'slide'", context="slide", mode="state.isPlaying ? 'player' : ''", path='')
  .full-height(ng-if="withSidebar")
    .col-xs-10.full-height
      +withSubtitles
        plugins-loader(namespace="'slide'", context="slide", mode="state.isPlaying ? 'player' : ''", path='')
    .col-xs-2.full-height
      plugins-loader(namespace="'slide.sidebar'", context="slide", mode="state.isPlaying ? 'player' : ''", path='')

