.full-height
  .dm-player-subtitles(
      ng-class="{'faded': showAnno == false, 'minimized': minimized, 'first-run': state.firstRun }"
    )
      .dm-player-subtitles-hidden(ng-show="anno.description && !state.firstRun")
        .dm-annos-item(ng-if="anno.type !== 'pause'")
                dm-annotation(annotation='anno', showIteration='showAll', ng-if='anno.type === "snippet" || anno.type === "comment"')
                dm-microtask(microtask='anno', ng-if='anno.type === "task"')

      a.dm-player-subtitles-minimize(ng-click="minimized = !minimized", ng-show="anno.description")
          span.fa.fa-times.fa-fw(ng-show="!minimized")

      button.btn.btn-default.pull-left.btn-next-subtitle.btn-block(
              autofocus,
              ng-click="runNext(); minimized=false",
              ng-show="nextStop < maxNextStop && !state.isPlaying")
                span.fa.fa-play.fa-fw

      a.btn.btn-default.pull-left.btn-next-subtitle.btn-block(
            ui-sref="index.space.workspace({slide: workspaceId, parent:null})",
            ng-show="nextStop === maxNextStop && !state.firstRun")
              span.fa.fa-code.fa-fw

  .full-height
    plugins-loader(namespace="'slide'", context="slide", mode="state.isPlaying ? 'player' : ''", path='')
