mixin currentAnnotation()
  .dm-annos-item(
    ng-show="currentAnnotation.type !== 'pause' && currentAnnotation.description"
    )
    dm-annotation(
      annotation='currentAnnotation'
      showIteration='showAll'
      ng-show='currentAnnotation.type === "snippet" || currentAnnotation.type === "comment"'
      )
    dm-microtask(
      microtask='currentAnnotation'
      ng-show='currentAnnotation.type === "task"'
      )


mixin nextButtons(icon)
    button.btn.btn-default.btn-next-subtitle(
      autofocus
      ng-click="runStepNext()"
      ng-class="{muted: !state.firstRun}"
      ng-show="state.playTo < state.max && !state.isPlaying")
        span.fa.fa-fw(class="fa-#{icon}")

mixin withSubtitles()
  .dm-player
    block
  .dm-player-subtitles-container(ng-init="subs = {}")
    .dm-player-subtitles.moveable.faded(
        ng-class="{'minimized': subs.isMinimized}"
      )
      .pull-right
        a.btn-minimize(
          tooltip="Minimize subtitles"
          tooltip-animation="false"
          tooltip-placemenet="top"
          ng-click="subs.isMinimized = !subs.isMinimized"
          )
          span.fa.fa-minus
      +currentAnnotation()
      +nextButtons('arrow-right')

    .dm-player-subtitles.fixed(
      ng-class="{'faded': !state.isPlaying && !subs.isMinimized, 'showNow': subs.isMinimized }"
      )
      .pull-right
        a.btn-minimize(
          ng-click="subs.isMinimized = !subs.isMinimized"
          tooltip="Floating subtitles"
          tooltip-animation="false"
          tooltip-placemenet="left"
          )
          span.fa.fa-chevron-up
      +currentAnnotation()

.full-height
  .full-height(ng-if="!withSidebar")
    +withSubtitles
      plugins-loader(namespace="'slide'", context="slide", mode="state.isPlaying ? 'player' : ''", path='.', recorder='recorder')
  .full-height(ng-if="withSidebar")
    .col-xs-10.full-height
      +withSubtitles
        plugins-loader(namespace="'slide'", context="slide", mode="state.isPlaying ? 'player' : ''", path='.', recorder='recorder')
    .col-xs-2.full-height
      plugins-loader(namespace="'slide.sidebar'", context="slide", mode="state.isPlaying ? 'player' : ''", path='.', recorder='recorder')

