div
    form(
      ng-submit='saveSimple(snippet)'
      ng-if='simple'
      )
      .form-group
        .input-group.input-group-sm
          input.form-control(
            placeholder="comment"
            ng-model="snippet.description"
          )
          .input-group-btn
            button.btn.btn-default(
              type='submit'
              )
              span.fa.fa-fw.fa-send


    form(
      ng-submit='save(snippet)'
      ng-if='!simple'
      )
        .form-group
            button.btn.btn-primary.btn-xs(ng-click="snippet.type = 'task'; $event.preventDefault();") 
              span(ng-if="snippet._id") Task
              span(ng-if="!snippet._id") New Task
            button.btn.btn-primary.btn-xs(ng-click="snippet.type = 'snippet'; $event.preventDefault();") 
              span(ng-if="snippet._id") Snippet
              span(ng-if="!snippet._id") New Snippet
        .form-group(ng-if="snippet && !snippet._id")
            button.btn.btn-success.btn-xl.add-pause-btn(
              ng-click="addPause(snippet)")
              span Add Pause

        div(ng-show="snippet.type")
            .form-group
              .input-group.input-group-sm
                input.form-control(type='number', ng-model='snippet.timestamp', step="any")
                .input-group-addon
                  span timestamp

            .form-group
              .input-group.input-group-sm
                input.form-control(type='text', ng-model='snippet.title')
                .input-group-addon
                  span title

            .form-group(ng-if='snippet.type === "task" || snippet.type === "comment"')
              .input-group.input-group-sm
                input.form-control(type='text', ng-model='snippet.description')
                .input-group-addon
                  span task.description 

            .form-group(ng-if='snippet.type === "task"')
              .input-group.input-group-sm
                input.form-control(type='text', ng-model='snippet.meta')
                .input-group-addon
                  span task.fiddle

            .form-group(ng-if='snippet.type === "snippet"')
                label.control-label markdown
                textarea.form-control.input-sm(rows='5', ng-model='snippet.description')

            .form-group
                button.btn.btn-block.btn-default(type='submit') Done

        div(marked="snippet.description")
