mixin formGroup(formName, fieldName)
  .form-group(ng-class='{\'has-success\': #{formName}.#{fieldName}.$valid && #{formName}.$dirty, \'has-error\': #{formName}.#{fieldName}.$invalid}')
    block

div
    div.alert.alert-info(ng-show="finished && !scope.quiz.nextSlideId")
        span Dziękujemy za udział w konkursie.
    form(name="form", novalidate, ng-hide="finished")

        div(ng-if="quiz.getEmail")
            +formGroup('form', 'email')
                label.control-label Twój adres e-mail
                input.form-control(
                    type="email", name="email", required, 
                    ng-model="data.email", placeholder="Będziemy mogli się z Tobą skontaktować.")
        div(ng-if="quiz.getNick")
            +formGroup('form', 'nick')
                label.control-label Twój nick
                input.form-control(
                    type="text", name="nick", required, 
                    ng-model="data.nick", placeholder="Będziemy mogli przesłać Ci feedback.")
        +formGroup('form', 'description')
            label.control-label Opis rozwiązania
            textarea.form-control(
                required, name="description", 
                rows="4",
                ng-minlength="5", ng-model="data.description", 
                placeholder="Opisz nam co było problemem i jak udało Ci się to rozwiązać, albo dlaczego nie udało Ci się go rozwiązać.")
        progressbar(value="quiz.progress[0]", max="quiz.progress[1]", ng-if="quiz.progress", type="success")
            | {{quiz.progress[0]}} / {{quiz.progress[1]}}
        .form-group
            button.btn.btn-success.btn-block(
                ng-disabled="form.$invalid || sending", 
                ng-click="submit(data.description, data.email)")
                span(ng-show="sending")
                    span.fa.fa-spin.fa-spinner

                span(ng-show="quiz.nextSlideId && !sending")
                    span Przejdź do kolejnego zadania
                    span &nbsp;
                    span.fa.fa-chevron-right
                span(ng-hide="quiz.nextSlideId || sending")
                    span Wyślij rozwiązania
                    span &nbsp;
                    span.fa.fa-upload