div
  .dm-timeline-point.info-color(
    ng-repeat='p in annotations track by p._id',
    ng-style='{"transform": "translate(" + (p.timestamp / length * size + "px") + ", 0)" }',
    tooltip-html-unsafe='{{p.title + "<br/>" + p.timestamp + " second" }}',
    tooltip-placement='top',
    ng-if='length')
    dm-taskicon.dm-timeline-snippet(type='p.type', ng-show="p.type !== 'snippet'")

progressbar(value='value', animate="false")



