mixin annotation(i)
    div(ng-repeat="p in #{i}")
        dm-annotation(annotation='p', showIteration='showAll', ng-if='p.type === "snippet"')
        dm-microtask(microtask='p', ng-if='p.type === "task"')
        button.btn.btn-xs.btn-warning(ng-if="editMode", ng-click="p.editing = !p.editing")
                span.fa.fa-pencil
            dm-xplatform-edit-annotation(
                ng-if="p.editing",
                snippet="p",
                event-id="eventId",
                iteration-id="iterationId",
                material-id="materialId")

div
    h3 {{ group.name }}
    div(ng-repeat="p in group.sub")
        h5 {{ p.name }}
        +annotation('p.annos')
    +annotation('group.annos')