tr(class="{{ rowClass }}")
  td.text-right
    strong {{ asTime startTime }} - {{ asTime endTime }}
  td.text-center
    if startedAt
      span(
        role="item-time") #{time}
    else
      span(
        contenteditable, 
        role="item-time") #{time}

    span m
  td.col-xs-7
    if isAdmin
      div.pull-right
        if startedAt
          unless finishedAt
            button.btn.btn-xs.btn-success(role='cancel-timer')
              span.fa.fa-stop
        else if isNext
          button.text-muted.btn.btn-link.btn-xs(role='start-timer')
            span.fa.fa-play
    p 
      span.fa.fa-fw(class="fa-{{icon}}")
      if link
        a(href=link, target="_parent")
          | #{title}
      else
        | #{title}

