.row.event-row(class="{{ rowClass }}")
  .col-xs-12

    small.text-muted.pull-right {{ asTime startTime }} - {{ asTime endTime }}

    .event-row-icon.pull-left
      if startedAt
        unless finishedAt
          if isAdmin
            button.btn.btn-xs.btn-link(role='cancel-timer')
              span.fa.fa-stop
          else
            span.fa.fa-fw.fa-play
        else
          if isAdmin
            button.btn.btn-xs.btn-link(role='reset-timer')
              span.fa.fa-fw.fa-check.text-success
          else
            span.fa.fa-fw.fa-check.text-success
      else if isAdmin
        if isNext
          button.text-muted.btn.btn-link.btn-xs(role='start-timer')
            span.fa.fa-play
        else
          small(
            contenteditable, 
            role="item-time") #{time}
      else
        small #{time}

    if isAdmin
      if isNext
        .event-row-icon.pull-right
          small(
            contenteditable, 
            role="item-time") #{time}
      else if startedAt
        unless finishedAt
          .event-row-icon.pull-right
            small(
              contenteditable, 
              role="item-time") #{time}

    p 
      span.fa.fa-fw(class="fa-{{icon}}")
      if link
        a(href=link, target="_parent")
          | #{title}
      else
        | #{title}


