.dm-xplatform-context.full-height(
    ng-show="opened")
  div(
    ng-if="opened"
    ng-class="{'full-height': noEventMenu || !display.event, 'half-height': !noEventMenu && display.active && display.event, 'small-height': !display.active }"
  )
    ul.nav.nav-tabs.nav-context-menu.nav-flex(
      ng-if="with.length > 1"
    )
      li(ng-repeat="x in with", ng-class="{'active': display.active === x}")
        a(ng-click="selectTab(x)") 
          span.text-danger.tabs-badge(ng-show="x === 'questions' && notifications.unread")
            span.fa.fa-circle
          | {{ names[x] }}

    .scroll.big-height
      .text-left(
        ng-show="display.active === 'admin'"
        ng-if="display.admin"
        )
        dm-event-admin(event="event")
      div(
        ng-show="display.active === 'history'"
        ng-if="display.history"
        )
          dm-history-graph(recorder='$root.recorder')
      div(
        ng-show="display.active === 'questions'"
        ng-if="display.questions"
        ng-controller="dmXplatformQuestion"
        )
          include ../../controllers/dm-xplatform-question/index.jade
      div(
        ng-show="display.active === 'notes'"
        ng-if="display.notes"
        )
        plugins-loader.full-height(namespace="'slide.sidebar'", context="$root.slide.slide", mode="$root.slide.mode", path='.', recorder='$root.recorder')
          
      div(
        ng-show="display.active === 'chat'"
        ng-if="display.chat"
        )
          h1 Chat
          h3 Not ready yet:(

