mixin problems(event)
  .problems
    h4.cursor-pointer(
      ng-if="event.reportedProblems.length"
      ng-click="event.showProblemsReporter = !event.showProblemsReporter" 
      )
      span(tooltip="Show/Hide Problems Reporter")
        | Unsolved problems: 
      span.bold(
        tooltip="{{ vm.getNumOfUnsolvedProblems(event.reportedProblems) }} unsolved / {{ event.reportedProblems.length }} all problems"
        ng-class="{'text-danger': vm.getNumOfUnsolvedProblems(event.reportedProblems) > 0, 'text-muted': vm.getNumOfUnsolvedProblems(event.reportedProblems) === 0}"
        )
        | {{ vm.getNumOfUnsolvedProblems(event.reportedProblems) }}
    h4(ng-if="!event.reportedProblems.length") 
      span
        | No reported problems
    .reporter(ng-if="event.showProblemsReporter")
      ol
        li.text-danger(ng-repeat="problem in event.reportedProblems | filter: { solved: false }")
          h5.text-danger.bold
            span.cursor-pointer(ng-click="problem.showDescription = !problem.showDescription")
              | {{ problem.title }}
            span.pull-right.cursor-pointer(ng-click="problem.solved = !problem.solved")
              span.fa.fa-fw.fa-check
          p(ng-if="problem.showDescription") 
            | {{ problem.description }}
        li.text-muted(ng-repeat="problem in event.reportedProblems | filter: { solved: true }")
          h5.text-muted.bold
            span.cursor-pointer(ng-click="problem.showDescription = !problem.showDescription")
              | {{ problem.title }}
              span
                i 
                  | (solved)
            span.pull-right.cursor-pointer(ng-click="problem.solved = !problem.solved")
              span.fa.fa-fw.fa-minus
          p(ng-if="problem.showDescription") 
            | {{ problem.description }}

mixin sortIcon()
  span.fa.fa-fw.fa-chevron-down(ng-show="vm.sort.desc")
  span.fa.fa-fw.fa-chevron-up(ng-hide="vm.sort.desc")



.dm-dashboard-index

  dm-dashboard-tiles(
    dashboard="vm.model"
    allProblemsOnScreen="vm.viewOptions"
  )

  // ----------- WIDOK STRATEGICZNY - NOWY ------------
  dm-dashboard-strategic-table-view(
    model="vm.model"
    allProblemsOnScreen="vm.viewOptions"
    sortBy="vm.sortBy(byWhat)"
    toggleEventDetailedView="vm.toggleEventDetailedView(eventId)"
  )

  .dm-dashboard-strategic-table-view
    .events(
      ng-if="vm.viewOptions.strategicView === 'table'"
      ng-class="{'move-right': vm.viewOptions.allProblemsOnScreen}"
      )
      table.table.table-bordered.table-hover
        tr.labels
          th.name.cursor-pointer(ng-click="vm.sortBy('name')") 
            | Event
            span(ng-if="vm.sort.by === 'name'")
              +sortIcon()
          th.timing-started.cursor-pointer(ng-click="vm.sortBy('timing.startedAt')")
            | Started at
            span(ng-if="vm.sort.by === 'timing.startedAt'")
              +sortIcon()
          th.timing-expected-end.cursor-pointer(ng-click="vm.sortBy('timing.expectedEnd')")
            | Expected end at
            span(ng-if="vm.sort.by === 'timing.expectedEnd'")
              +sortIcon()
          th.people.cursor-pointer(ng-click="vm.sortBy('members.number')")
            | All People
            span(ng-if="vm.sort.by === 'members.number'")
              +sortIcon()
          th.stage.cursor-pointer(ng-click="vm.sortBy('currentStage.name')") 
            | Current stage
            span(ng-if="vm.sort.by === 'currentStage.name'")
              +sortIcon()
          th.active-students
            | Active students
          th.best-users
            | Best Students 
          th.worse-users
            | Worse Students
          th.best-group
            | Best Group
          th.unsolved-problems
            | Unsolved problems

        tr.event(ng-repeat="event in vm.model.activeEvents | orderBy:vm.sort.by:vm.sort.desc")
          td.name.cursor-pointer(ng-click="vm.toggleEventDetailedView(event._id)")
            span.bold
              | {{ event.name }}
          td.timing-started 
            span.bold 
              | {{ event.timing.startedAt | amDateFormat:'HH:mm (DD.MM.YYYY)' }}
          td.timing-expected-end
            span.bold
              | {{ vm.referToExpectedEndDate(event.timing.expectedEnd) }}
          td.people
            span.bold.text-success(tooltip="{{ event.members.organizers.length }} organizers, {{ event.members.students.all.length }} students") 
              | {{ event.members.number }} 
          td.stage
            span.bold.text-success {{ event.currentStage.name }},
            br 
            span.text-success(am-time-ago="event.currentStage.startedAt")
          td.active-students 
            span.bold.text-success(ng-if="event.members.students.active.length / event.members.students.all.length >= 0.66")
              | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
            span.bold.text-warning(
              ng-if="event.members.students.active.length / event.members.students.all.length < 0.66 && event.members.students.active.length / event.members.students.all.length >= 0.33"
              )
              | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
            span.bold.text-danger(ng-if="event.members.students.active.length / event.members.students.all.length < 0.33")
              | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
          td.best-users
            img.avatar.img-responsive.img-rounded(
              ng-repeat="rank in event.ranking.bestUsers track by $index"
              ng-src="{{ rank.user.avatar | dmGravatar:24 }}"
              tooltip="{{ rank.user.name }} ({{ rank.group }}), {{ rank.summary.percent }}%"
              ) 
          td.worse-users
            img.avatar.img-responsive.img-rounded(
              ng-repeat="rank in event.ranking.worseUsers track by $index"
              ng-src="{{ rank.user.avatar | dmGravatar:24 }}"
              tooltip="{{ rank.user.name }} ({{ rank.group }}), {{ rank.summary.percent }}%"
              ) 
          td.best-group
            span.bold(tooltip="{{ event.ranking.bestGroup.percent }}%")
              | {{ event.ranking.bestGroup.name }}
          td.unsolved-problems
            span.bold(
              tooltip="{{ vm.getNumOfUnsolvedProblems(event.reportedProblems) }} unsolved / {{ event.reportedProblems.length }} all problems"
              ng-class="{'text-danger': vm.getNumOfUnsolvedProblems(event.reportedProblems) > 0, 'text-muted': vm.getNumOfUnsolvedProblems(event.reportedProblems) === 0}"
              )
              | {{ vm.getNumOfUnsolvedProblems(event.reportedProblems) }}



  // ----------- WIDOK BLOKOWY - STARY -------------
  // ----------- oraz WIDOK SZCZEGOLOWY ------------
  // ----------- WYBRANEGO EVENTU ------------------

  .events.row(ng-class="{'move-right': vm.viewOptions.allProblemsOnScreen}")
    .event(
      ng-repeat="event in vm.model.activeEvents"
      ng-class="{'col-md-6': !vm.isFullscreen(event._id), 'col-md-12': vm.isFullscreen(event._id), 'no-padding': vm.viewOptions.strategicView === 'table'}"
      )
      div(ng-if="vm.viewOptions.strategicView === 'blocks' || vm.isFullscreen(event._id)")
        .header.col-xs-12.text-center(ng-class="{'add-margin-bottom': vm.isFullscreen(event._id)}")
          .name
            h1.cursor-pointer(ng-click="vm.toggleEventDetailedView(event._id)") {{ event.name }}
          .timing
            div(ng-if="event.timing.started")
              h4 Started at: 
                span.bold {{ event.timing.startedAt | amDateFormat:'HH:mm' }}
              h4 Expected end: 
                span.bold {{ vm.referToExpectedEndDate(event.timing.expectedEnd) }}
            div(ng-if="!event.timing.started")
              h4 Event has not yet begun
              // quick hack to improve view below:
              h4(style="opacity: 0") QH
              // hack end
        .streaming.col-md-6(
          ng-if="vm.isFullscreen(event._id)"
          )
          img
        div(ng-class="{'col-md-12': !vm.isFullscreen(event._id), 'col-md-6': vm.isFullscreen(event._id)}")
          .logs
            h2 {{ event.logs[0].data.toString() }}: {{ event.logs[0].description }}
          .people
            h4(ng-click="event.showPeopleDetails = !event.showPeopleDetails") 
              span.cursor-pointer(
                tooltip="Show/Hide Details"
                tooltip-placement="right"
                )
                | People: 
                span.bold.text-success {{ event.members.number }} 
            div(ng-if="event.showPeopleDetails || vm.isFullscreen(event._id)")
              div
                h5 Organizers: 
                  span.bold.text-success {{ event.members.organizers.length }} 
                div
                  img.avatar.img-responsive.img-rounded(
                    ng-repeat="organizer in event.members.organizers"
                    ng-src="{{ organizer.avatar | dmGravatar:24 }}"
                    tooltip="{{ organizer.name }}"
                    )
              div
                h5 Students: 
                  span.bold.text-success {{ event.members.students.all.length }} 
                div
                  img.avatar.img-responsive.img-rounded(
                    ng-repeat="student in event.members.students.all"
                    ng-src="{{ student.avatar | dmGravatar:24 }}"
                    tooltip="{{ student.name }} ({{ student.group }}), {{ student.percent }}%"
                    )     
            h4(ng-click="event.showActiveStudents = !event.showActiveStudents")
              span.cursor-pointer(
                tooltip="Show/Hide Details"
                tooltip-placement="right"
                )
                | Active students: 
                span.bold.text-success(ng-if="event.members.students.active.length / event.members.students.all.length >= 0.66")
                  | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
                span.bold.text-warning(
                  ng-if="event.members.students.active.length / event.members.students.all.length < 0.66 && event.members.students.active.length / event.members.students.all.length >= 0.33"
                  )
                  | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
                span.bold.text-danger(ng-if="event.members.students.active.length / event.members.students.all.length < 0.33")
                  | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
            div(ng-if="event.showActiveStudents || vm.isFullscreen(event._id)")
              img.avatar.img-responsive.img-rounded(
                ng-repeat="activeStudent in event.members.students.active"
                ng-src="{{ activeStudent.avatar | dmGravatar:24 }}"
                tooltip="{{ activeStudent.name }} ({{ activeStudent.group }}), {{ activeStudent.percent }}%"
                )
          .stage
            h4 Current stage: 
              span.bold.text-success {{ event.currentStage.name }}, 
              span.bold.text-success(am-time-ago="event.currentStage.startedAt") 
          div(ng-if="!vm.isFullscreen(event._id)")
            +problems(event)
        .col-xs-12.bottomView(ng-if="vm.isFullscreen(event._id)")
          .col-md-6
            +problems(event)
          .col-md-6
            h4 Best Students:
            h5(ng-repeat="rank in event.ranking.bestUsers track by $index")
              span.user-name
                | {{ rank.user.name }}
              img.avatar.pull-left.img-responsive.img-rounded(
                ng-src="{{ rank.user.avatar | dmGravatar:35 }}"
                )
              span
                progressbar(
                  value="rank.summary.percent" 
                  type="success"
                  )
                  | {{ rank.summary.percent }}%
            h4 Worse Students:
            h5(ng-repeat="rank in event.ranking.worseUsers track by $index")
              span.user-name
                | {{ rank.user.name }}
              img.avatar.pull-left.img-responsive.img-rounded(
                ng-src="{{ rank.user.avatar | dmGravatar:35 }}"
                )
              span
                progressbar(
                  value="rank.summary.percent" 
                  type="warning"
                  )
                  | {{ rank.summary.percent }}%
            h4 Best Group: {{ event.ranking.bestGroup.name }}
            progressbar(
              value="event.ranking.bestGroup.percent" 
              type="success"
              )
              | {{ event.ranking.bestGroup.percent }}%
            h4
              a.margin-right(ng-href="{{ event.hyperlinks.rankingView }}")
                | Go to ranking view
              a(ng-href="{{ event.hyperlinks.trainerView }}")
                | Go to trainers view
          hr



  // przelacznik widokow: tabelaryczny - blokowy 

  .toggle-strategic-view.cursor-pointer
    span(
      ng-if="vm.viewOptions.strategicView === 'table'"
      ng-click="vm.viewOptions.strategicView = 'blocks'"
      tooltip="Change to Blocks View"
      tooltip-placement="left"
      )
      | View: Table
    span(
      ng-if="vm.viewOptions.strategicView === 'blocks'"
      ng-click="vm.viewOptions.strategicView = 'table'"
      tooltip="Change to Table View"
      tooltip-placement="left"
      )
      | View: Blocks


  // toggle tiles
  .toggle-tiles.cursor-pointer(ng-click="vm.viewOptions.showTiles = !vm.viewOptions.showTiles")
    span.fa.fa-globe(
      tooltip="Toggle tiles"
      tooltip-placement="left"
      )


  // left sidebar z zebranymi problemami sposrod lokacji i jego toggle

  .all-problems(ng-class="{'show': vm.viewOptions.allProblemsOnScreen}")
    div(ng-repeat="event in vm.model.activeEvents")
      h4 {{ event.name }}
      +problems(event)
      hr

  .toggle-all-problems.cursor-pointer(
    ng-click="vm.viewOptions.allProblemsOnScreen = !vm.viewOptions.allProblemsOnScreen"
    )
    span.fa.fa-fw.fa-toggle-on(ng-if="!vm.viewOptions.allProblemsOnScreen")
      span.numOfAllProblems.text-danger(
        tooltip="Unsolved Problems"
        tooltip-placement="right"
        )
        | {{ vm.getNumOfAllUnsolvedProblems(vm.model.activeEvents) }}
    span.fa.fa-fw.fa-toggle-off(ng-if="vm.viewOptions.allProblemsOnScreen")



  // kontrola danych 
  h2 From Beck-End
  .col-xs-12
    pre {{ vm.dashboard.activeEvents[6] | json }}
  h2 Final
  .col-xs-12
    pre {{ vm.model.activeEvents[6] | json }}

    
