mixin problems(event)
  .problems
    h4.cursor-pointer(
      ng-if="event.reportedProblems.length"
      ng-click="event.showProblemsReporter = !event.showProblemsReporter" 
      )
      span(tooltip="Show/Hide Problems Reporter")
        | Unsolved problems: 
      span.bold(
        tooltip="{{ vm.getNumOfUnsolvedProblems(event.reportedProblems) }} unsolved / {{ event.reportedProblems.length }} all problems"
        ng-class="{'text-danger': vm.getNumOfUnsolvedProblems(event.reportedProblems) > 0, 'text-muted': vm.getNumOfUnsolvedProblems(event.reportedProblems) === 0}"
        )
        | {{ vm.getNumOfUnsolvedProblems(event.reportedProblems) }}
    h4(ng-if="!event.reportedProblems.length") 
      span
        | No reported problems
    .reporter(ng-if="event.showProblemsReporter")
      ol
        li.text-danger(ng-repeat="problem in event.reportedProblems | filter: { solved: false }")
          h5.bold
            span.cursor-pointer(ng-click="problem.showDescription = !problem.showDescription")
              | {{ problem.title }}
            span.pull-right.cursor-pointer(ng-click="problem.solved = !problem.solved")
              span.fa.fa-fw.fa-check
          p(ng-if="problem.showDescription") 
              | {{ problem.description }}
        li.text-muted(ng-repeat="problem in event.reportedProblems | filter: { solved: true }")
          h5.bold
            span.cursor-pointer(ng-click="problem.showDescription = !problem.showDescription")
              | {{ problem.title }}
              span
                i 
                  | (solved)
            span.pull-right.cursor-pointer(ng-click="problem.solved = !problem.solved")
              span.fa.fa-fw.fa-minus
          p(ng-if="problem.showDescription") 
              | {{ problem.description }}



.dm-dashboard-index

  // ----------- WIDOK BLOKOWY - STARY -------------
  // ----------- oraz WIDOK SZCZEGOLOWY ------------
  // ----------- WYBRANEGO EVENTU ------------------

  .events.row(ng-class="{'move-right': vm.viewOptions.allProblemsOnScreen}")
    .event(
      ng-repeat="event in vm.model.activeEvents | filter: { isFullscreen: true }"
      ng-class="{'col-md-6': !event.isFullscreen, 'col-md-12': event.isFullscreen}"
      )
      .header.col-xs-12.text-center(ng-class="{'add-margin-bottom': event.isFullscreen}")
        h1.cursor-pointer(ng-click="event.isFullscreen = !event.isFullscreen") {{ event.name }}
        div(ng-if="event.timing.started")
          h4 Started at: 
            span.bold {{ event.timing.startedAt.toString() }}
          h4 Expected end: 
            span.bold {{ event.timing.expectedEnd.toString() }}
        div(ng-if="!event.timing.started")
          h4 Event has not yet begun
          // quick hack to improve view below:
          h4(style="opacity: 0") QH
          // hack end
      .streaming.col-md-6(
        ng-if="event.isFullscreen"
        )
        img
      div(ng-class="{'col-md-12': !event.isFullscreen, 'col-md-6': event.isFullscreen}")
        .people
          h4(ng-click="event.showPeopleDetails = !event.showPeopleDetails") 
            span.cursor-pointer(
              tooltip="Show/Hide Details"
              tooltip-placement="right"
              )
              | People: 
              span.bold.text-success {{ event.members.number }} 
          div(ng-if="event.showPeopleDetails")
            div
              h5 Organizers: 
                span.bold.text-success {{ event.members.organizers.length }} 
              div
                img.avatar.img-responsive.img-rounded(
                  ng-repeat="organizer in event.members.organizers"
                  src="https://www.gravatar.com/avatar/1dc4a7d97cb29cf81d0c58bc1a17a5af"
                  tooltip="{{ organizer.name }}"
                  )
            //div
              span Trainers: {{ event.members.trainers.length }} 
              span(
                ng-repeat="trainer in event.members.trainers"
                ng-src="{{ trainer.avatar | dmGravatar:16 }}"
                )
            div
              h5 Students: 
                span.bold.text-success {{ event.members.students.all.length }} 
              div
                img.avatar.img-responsive.img-rounded(
                  ng-repeat="student in event.members.students.all"
                  src="https://www.gravatar.com/avatar/1dc4a7d97cb29cf81d0c58bc1a17a5afr"
                  tooltip="{{ student.name }}"
                  )     
          h4(ng-click="event.showActiveStudents = !event.showActiveStudents")
            span.cursor-pointer(
              tooltip="Show/Hide Details"
              tooltip-placement="right"
              )
              | Active students: 
              span.bold.text-success(ng-if="event.members.students.active.length / event.members.students.all.length >= 0.66")
                | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
              span.bold.text-warning(
                ng-if="event.members.students.active.length / event.members.students.all.length < 0.66 && event.members.students.active.length / event.members.students.all.length >= 0.33"
                )
                | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
              span.bold.text-danger(ng-if="event.members.students.active.length / event.members.students.all.length < 0.33")
                | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
          div(ng-if="event.showActiveStudents")
            img.avatar.img-responsive.img-rounded(
              ng-repeat="activeStudent in event.members.students.active"
              src="https://www.gravatar.com/avatar/1dc4a7d97cb29cf81d0c58bc1a17a5af"
              tooltip="{{ activeStudent.name }}"
              )
        .stage
          h4 Current stage: 
            span.bold.text-success {{ event.currentStage }}
        div(ng-if="!event.isFullscreen")
          +problems(event)
      .col-xs-12.bottomView(ng-if="event.isFullscreen")
        .col-md-6
          +problems(event)
        .col-md-6
          h4.text-center 
            span.fa.fa-star
            span.fa.fa-star
            span.fa.fa-star
          h4 Best Student: {{ event.ranking.bestUser.name }}
          progressbar(
            value="event.ranking.bestUser.percentageResult" 
            type="success"
            )
            | {{ event.ranking.bestUser.percentageResult }}%
          h4 Best Group: {{ event.ranking.bestGroup.name }}
          progressbar(
            value="event.ranking.bestGroup.percentageResult" 
            type="success"
            )
            | {{ event.ranking.bestGroup.percentageResult }}%
          h4 
            a(ng-href="{{ event.hyperlinks.rankingView }}")
              | Go to ranking view
          h4
            a(ng-href="{{ event.hyperlinks.trainerView }}")
              | Go to trainers view
        hr


  // ----------- WIDOK STRATEGICZNY - NOWY ------------

  .events(ng-class="{'move-right': vm.viewOptions.allProblemsOnScreen}")
    table.table.table-bordered.table-hover
      tr.labels
        th.name 
          | Event
        th.timing-started
          | Started at
        th.timing-expected-end
          | Expected end at
        th.people
          | All People
        th.stage 
          | Current stage
        th.active-students
          | Active students
        th.unsolved-problems
          | Unsolved problems

      tr.data(ng-repeat="event in vm.model.activeEvents")
        td.name.cursor-pointer(ng-click="event.isFullscreen = !event.isFullscreen")
          span.bold
            | {{ event.name }}
        td.timing-started 
          span.bold 
            | {{ event.timing.startedAt.toString() }}
        td.timing-expected-end
          span.bold 
            | {{ event.timing.expectedEnd.toString() }}
        td.people
          span.bold.text-success(tooltip="{{ event.members.organizers.length }} organizers, {{ event.members.students.all.length }} students") 
            | {{ event.members.number }} 
        td.stage
          span.bold.text-success 
            | {{ event.currentStage }}
        td.active-students 
          span.bold.text-success(ng-if="event.members.students.active.length / event.members.students.all.length >= 0.66")
            | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
          span.bold.text-warning(
            ng-if="event.members.students.active.length / event.members.students.all.length < 0.66 && event.members.students.active.length / event.members.students.all.length >= 0.33"
            )
            | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
          span.bold.text-danger(ng-if="event.members.students.active.length / event.members.students.all.length < 0.33")
            | {{ event.members.students.active.length }} ({{ vm.getPercentages(event.members.students.active.length, event.members.students.all.length) }}%)
        td.unsolved-problems
          span.bold(
            tooltip="{{ vm.getNumOfUnsolvedProblems(event.reportedProblems) }} unsolved / {{ event.reportedProblems.length }} all problems"
            ng-class="{'text-danger': vm.getNumOfUnsolvedProblems(event.reportedProblems) > 0, 'text-muted': vm.getNumOfUnsolvedProblems(event.reportedProblems) === 0}"
            )
            | {{ vm.getNumOfUnsolvedProblems(event.reportedProblems) }}















  // left sidebar z zebranymi problemami sposrod lokacji i jego toggle

  .all-problems(ng-class="{'show': vm.viewOptions.allProblemsOnScreen}")
    div(ng-repeat="event in vm.model.activeEvents")
      h4 {{ event.name }}
      +problems(event)
      hr

  .toggle-all-problems.cursor-pointer(
    ng-click="vm.viewOptions.allProblemsOnScreen = !vm.viewOptions.allProblemsOnScreen"
    )
    span.fa.fa-fw.fa-toggle-on(ng-if="!vm.viewOptions.allProblemsOnScreen")
      span.numOfAllProblems.text-danger(
        tooltip="Unsolved Problems"
        tooltip-placement="right"
        )
        | {{ vm.getNumOfAllUnsolvedProblems(vm.model.activeEvents) }}
    span.fa.fa-fw.fa-toggle-off(ng-if="vm.viewOptions.allProblemsOnScreen")
