mixin course(uisref, nghref)
  .workshoplist-col
    a.workshoplist-thumb(
      ng-style="getBackgroundStyles(cours)"
      ui-sref=uisref,
      ng-href=nghref
      analytics-category='courses',
      analytics-on="click", analytics-event="courses.go", analytics-label="{{cours.title}}")
      span(ng-if="!cours.image") 
        | {{ getDescription(cours.title) }}
    .workshopdesc-detailsholder
      .workshoplist-details
        .workshoplist-details-shadow
        h4
          a(
            ui-sref=uisref,
            ng-href=nghref
            analytics-category='courses',
            analytics-on="click", analytics-event="courses.go", analytics-label="{{cours.title}}")
            | {{cours.title}}
        span.fa.fa-2x.fa-trash.text-danger.pull-right(ng-if='editMode', ng-click='remove(cours)', ng-style='{"z-index": "10"}')
        input(ng-if='$root.editMode', type='checkbox', ng-model='cours.visible', ng-change='visibilityChanged(cours)')

.container
  .col-md-12
    .dm-workshoplist-container
      .clearfix(ng-if="user.result.acl.indexOf('admin:events') > -1") 
        .row
          .col-md-4
            input.form-control(
              type="text"
              ng-model="vmWorkshoplist.courses_filter"
              placeholder="Search for courses"
            )
          .col-md-8
            .pull-right
              .checkbox
                label.form-label
                  input(
                    type="checkbox"
                    ng-model="$root.editMode"
                  )
                  | Show All Courses
      .row
        .col-md-4(ng-repeat="cours in courses | orderBy:['order','title'] | filter:vmWorkshoplist.courses_filter", ng-if='cours.visible || editMode')
          div(ng-if="cours.shouldRedirectToUnsafe")
            +course(false, "{{ getUnsafeAddress(cours) }}")
          div(ng-if="!cours.shouldRedirectToUnsafe")
            +course("index.space.learn.agenda({event: cours._id})")
      .row(ng-if="my_courses.length")
        .col-xs-12
          h3 Your Previous Workshops
        .col-sm-4(ng-repeat="cours in my_courses track by cours._id | orderBy:['order', 'title'] | filter:courses_filter")
          div(ng-if="cours.shouldRedirectToUnsafe")
            +course(false, "{{ getUnsafeAddress(cours) }}")
          div(ng-if="!cours.shouldRedirectToUnsafe")
            +course("index.space.learn.agenda({event: cours._id})")

