extends layout

block content
    

  .main-content.fade.container-fluid
    .row
      .col-lg-12
        h1!= title
        div!= text
        if code
          #editor.editor(
            data-language='#{code.language}'
            class="#{code.small ? 'small' : ''} #{code.big ? 'big' : ''}" 
            )= code.content
    .row
      .col-lg-12
        #errors.alert.alert-danger.errors
    br
    if code
      #output.row(data-monitor='#{monitor}', data-hide="#{code.hideOutput}")
        .col-sm-6
          #output-ace.editor
        .col-sm-6
          #output-json
    if fiddle
      ul.nav.nav-tabs.nav-fiddle
        if fiddle.js
          li(class="#{fiddle.active === 'js' ? 'active' : ''}")
            a(data-toggle='tab', data-target="#tab-js") js
        if fiddle.css
          li(class="#{fiddle.active === 'css' ? 'active' : ''}")
            a(data-toggle='tab', data-target="#tab-css") css
        if fiddle.html
          li(class="#{fiddle.active === 'html' ? 'active' : ''}")
            a(data-toggle='tab', data-target="#tab-html") html
        li
            a(data-toggle='tab', data-target="#tab-output")
              span.glyphicon.glyphicon-eye-open
      .tab-content
        #tab-js.tab-pane.fade(class="#{fiddle.active === 'js' ? 'active in' : ''}") 
          #editor-js.editor(class="#{fiddle.small ? 'small' : ''} #{fiddle.big ? 'big' : ''}" )!= fiddle.js
        #tab-css.tab-pane.fade(class="#{fiddle.active === 'css' ? 'active in' : ''}")
          #editor-css.editor(class="#{fiddle.small ? 'small' : ''} #{fiddle.big ? 'big' : ''}" )!= fiddle.css
        #tab-html.tab-pane.fade(class="#{fiddle.active === 'html' ? 'active in' : ''}")
          if fiddle.html
            #editor-html.editor(class="#{fiddle.small ? 'small' : ''} #{fiddle.big ? 'big' : ''}" )= fiddle.html
          else
            #editor-html.editor(class="#{fiddle.small ? 'small' : ''} #{fiddle.big ? 'big' : ''}" ) #{"<html><head></head><body></body></html>"}
        #tab-output.tab-pane.fade #{fiddle.output}
          iframe#fiddle-output(data-pure=fiddle.pure)

    if task
      .row
        .col-md-9
          h1 
            span.text-success
              span.glyphicon.glyphicon-check
            |  Objectives
          ol
            for o in task.objectives
              li 
                h4 !{o}
          h2
            span.text-danger
              span.glyphicon.glyphicon-asterisk
            |  Extra objectives
          ol
            for o in task.extras
              li
                h4 !{o}
        .col-md-3
          h1 
            span.glyphicon.glyphicon-time
            | 
            span.text-warning.task-time-left(data-duration=task.duration)
              | #{task.duration} 
            span.text-warning
              |  min

            button.task-start-btn.btn.btn-default.pull-right(
              data-toggle="tooltip",
              title="Start task")
              span.glyphicon.glyphicon-play
          hr
          h2
            span.glyphicon.glyphicon-play
            | 
            span.task-start-time
          h2
            span.glyphicon.glyphicon-pause
            | 
            span.task-end-time


            


prepend styles
  link(href="css/inspector-json.css", rel="stylesheet")
append scripts
  script(src="js/inspector-json.js")
  script(src="js/ace-builds/src-noconflict/ace.js")
  script(src="js/slide.js")
