extends layout


mixin footerContent(slide)
  .row
    .col-lg-12
      div!= slide.footer

mixin slideContent(slide)
    .row
      .col-lg-12
        div!= slide.text
        br
        if slide.code
          div
            .code-editor.editor(
              data-language='#{slide.code.language}'
              class="#{slide.code.small ? 'small' : ''} #{slide.code.big ? 'big' : ''}" 
              )= slide.code.content
            span.editor-change-size.glyphicon.glyphicon-fullscreen
    .row
      .col-lg-12
        .errors.alert.alert-danger.errors
    if slide.code
      br
      .output.row(data-monitor='#{slide.monitor}', data-hide="#{slide.code.hideOutput}", data-async=slide.code.async)
        .col-sm-6
          .output-ace.editor
        .col-sm-6
          .output-json
    if slide.fiddle
      .row
        .col-sm-6
          ul.nav.nav-tabs.nav-fiddle
            if slide.fiddle.js
              li(class="#{slide.fiddle.active === 'js' ? 'active' : ''}")
                a(data-toggle='tab', data-target="#tab-js") js
            if slide.fiddle.coffee
              li(class="#{slide.fiddle.active === 'coffee' ? 'active' : ''}")
                a(data-toggle='tab', data-target="#tab-coffee") coffee
            if slide.fiddle.css
              li(class="#{slide.fiddle.active === 'css' ? 'active' : ''}")
                a(data-toggle='tab', data-target="#tab-css") css
            if slide.fiddle.html
              li(class="#{slide.fiddle.active === 'html' ? 'active' : ''}")
                a(data-toggle='tab', data-target="#tab-html") html

          .tab-content
            #tab-js.tab-pane.fade(class="#{slide.fiddle.active === 'js' ? 'active in' : ''}") 
              #editor-js.editor(
                class="#{slide.fiddle.small ? 'small' : ''} #{slide.fiddle.big ? 'big' : ''}" )= slide.fiddle.js
            #tab-coffee.tab-pane.fade(class="#{slide.fiddle.active === 'coffee' ? 'active in' : ''}") 
              #editor-coffee.editor(
                class="#{slide.fiddle.small ? 'small' : ''} #{slide.fiddle.big ? 'big' : ''}" )= slide.fiddle.coffee
            #tab-css.tab-pane.fade(
              class="#{slide.fiddle.active === 'css' ? 'active in' : ''}")
              #editor-css.editor(
                class="#{slide.fiddle.small ? 'small' : ''} #{slide.fiddle.big ? 'big' : ''}" )!= slide.fiddle.css
            #tab-html.tab-pane.fade(
              class="#{slide.fiddle.active === 'html' ? 'active in' : ''}")
              if slide.fiddle.html
                #editor-html.editor(
                  class="#{slide.fiddle.small ? 'small' : ''} #{slide.fiddle.big ? 'big' : ''}" )= slide.fiddle.html
              else
                #editor-html.editor(
                  class="#{slide.fiddle.small ? 'small' : ''} #{slide.fiddle.big ? 'big' : ''}" ) #{"<html><head></head><body></body></html>"}
        .col-sm-6
          #tab-output.tab-pane #{slide.fiddle.output}
            iframe#fiddle-output(data-pure=slide.fiddle.pure)

    if slide.task
      .row
        .col-md-9
          h1 
            span.text-success
              span.glyphicon.glyphicon-check
            |  Objectives
          ol
            for o in slide.task.objectives
              li 
                h4 !{o}
          h2
            span.text-danger
              span.glyphicon.glyphicon-asterisk
            |  Extra objectives
          ol
            for o in slide.task.extras
              li
                h4 !{o}
        .col-md-3
          h1 
            span.glyphicon.glyphicon-time
            | 
            span.text-warning.task-time-left(data-duration=slide.task.duration)
              | #{slide.task.duration} 
            span.text-warning
              |  min

            button.task-start-btn.btn.btn-default.pull-right(
              data-toggle="tooltip",
              title="Start task")
              span.glyphicon.glyphicon-play
          hr
          h2
            span.glyphicon.glyphicon-play
            | 
            span.task-start-time
          h2
            span.glyphicon.glyphicon-pause
            | 
            span.task-end-time
    mixin footerContent(slide)
block content
    

  .main-content.fade.container-fluid
    .row
      .col-lg-12
        h1!= slide.title
    if slide.left
      .col-md-7
        mixin slideContent(slide.left)
    if slide.right
      .col-md-5
        mixin slideContent(slide.right)
    if !slide.left && !slide.right
      mixin slideContent(slide)
    else
      .clearfix
      mixin footerContent(slide)
    .clearfix
    


            


prepend styles
  link(href="css/inspector-json.css", rel="stylesheet")
append scripts
  script(src="js/jquery.hotkeys.js")
  script(src="js/inspector-json.js")
  script(src="js/ace-builds/src-noconflict/ace.js")
  script(src="js/howler.js")
  script(src="js/slide.js")
  if slide.script
    script!= slide.script

