.col-sm-12.full-height.dm-space-top(tabindex='1', ng-keyup='keys.keyUp($event)')
    .row(ng-style='{"height": "calc(100% - " + bottombarHeight + ")"}')

        .dm-spacesidebar(ng-style='{"width": left.current}')
            .col-sm-12
                .row.clearfix
                    a.btn.pull-right.dm-space-toggle(ng-click='left.current = left.current === left.max ? left.min : left.max')
                        span.fa.fa-align-justify
            .col-xs-12(ng-if='warningType === "mine"')
                .row
                    .alert.alert-warning.dm-space-alert
                        | Naciśnij&nbsp;
                        a.dm-cursor(ng-click='openWorkspace()') tutaj
                        | &nbsp;aby powrócić do workspacu
            .col-xs-12(ng-if='warningType === "other"')
                .row
                    .alert.alert-danger.dm-space-alert
                        | To nie jest Twój workspace&nbsp;
                        a.dm-cursor(ng-click='openWorkspace()') Powróć

            .dm-spacesidebar-left(ng-style='{"width": left.max, "clear": "both"}')
                accordion.dm-space-accordion
                    accordion-group(is-open='question.isOpen')
                        accordion-heading
                            .row(ui-sref='index.space.intro({event: event._id})')
                                .col-xs-12.background(ng-class='{"active": question.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-question-circle
                                    h5 Intro

                    accordion-group(ng-repeat='i in event.iterations', is-open='isOpen', is-disabled='!editMode && i.status !== "available"')
                        accordion-heading
                            .row
                                .col-xs-12.background(ng-class='{"active": isOpen}')
                                    a.btn.pull-right(ng-if='editMode', ng-click='removeIteration(i)')
                                        span.fa.fa-trash.text-danger
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-dot-circle-o(ng-if='i.status === "available"')
                                        span.fa.fa-lock(ng-if='i.status != "available"')
                                    h5 {{i.title}}
                        
                        .col-xs-12 &nbsp;
                        button.btn.btn-sm.btn-primary.col-xs-9(ng-repeat='material in i.materials', ui-sref='index.space.player({iteration: $parent.$index, material: material._id})')
                            span.fa.fa-film.pull-left
                            | {{material.title}}
                        button.btn.btn-sm.btn-default.col-xs-9(ng-if='editMode', ng-click='createMaterial(i)')
                            span.fa.fa-plus.pull-left
                            | Dodaj Audio
                        .col-xs-12
                            .row(ng-repeat='task in i.tasks')
                                button.btn.btn-sm.btn-default.col-xs-9(ui-sref='index.space.todo({iteration: $parent.$index, todo: task._id})')
                                    span.fa.fa-pencil.pull-left
                                    | {{task.title}}
                                .col-xs-3.dm-space-checkbox.dm-cursor(ng-click='task.done = !task.done; markTaskAsDone(task, task.done)')
                                    span.fa.fa-square-o(ng-if='!task.done')
                                    span.fa.fa-check-square-o.text-success(ng-if='task.done')


                    accordion-group(ng-if='editMode', is-open='addIteration.isOpen')
                        accordion-heading
                            .row(ng-click='createIteration()')
                                .col-xs-12.background(ng-class='{"active": addIteration.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        //-span.fa.fa-plus
                                    h5 Dodaj Iteracje

                    accordion-group(is-open='workspace.isOpen')
                        accordion-heading
                            .row(ng-click='openWorkspace()')
                                .col-xs-12.background(ng-class='{"active": workspace.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-wrench
                                    h5 Workspace
                    accordion-group(is-open='ranking.isOpen')
                        accordion-heading
                            .row(ui-sref='index.space.ranking')
                                .col-xs-12.background(ng-class='{"active": ranking.isOpen}')
                                    a.btn.pull-left.dm-space-toggle
                                        span.fa.fa-bar-chart
                                    h5 Ranking


        .dm-space(ng-style='{"width": "calc(100% - " + left.current + " - " + right.current + ")"}')
            .col-xs-12.full-height
                .row.full-height(ng-if='!showTutorial', ui-view='content')

        .dm-spacesidebar(ng-style='{"width": right.current}')
            a.btn.pull-left.dm-space-toggle.cursor-pointer(
                analytics-category='spacesidebar',
                analytics-on='click', analytics-event='spacesidebar.toggle'
                ng-click='toggleRight()')
                span.fa.fa-align-justify
            tabset.dm-spacesidebar-right(ng-class='{"active": !right.opened}')
                tab.cursor-pointer(id='stream', active='tabs.stream', 
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.stream',
                    select='toggleRight(true)')
                    tab-heading(tooltip='Baza wiedzy', tooltip-placement='bottom')
                        span.fa.fa-newspaper-o
                    .col-xs-12.full-height
                        .row.full-height(ui-view='first')
                tab.cursor-pointer(id='issues', active='tabs.issues', 
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.issues',
                    select='toggleRight(true)')
                    tab-heading(
                        tooltip='Pytania', tooltip-placement='bottom')
                        span.fa.fa-warning
                    .col-xs-12.dm-space-questions
                        .row(ng-controller='dmXplatformQuestion', ng-include='"/static/dm-xplatform/controllers/dm-xplatform-question/index.html"')

                //-tab.cursor-pointer(id='chat', active='tabs.chat', 
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.chat',
                    select='toggleRight(true)')
                    tab-heading(
                        tooltip='Czat', tooltip-placement='bottom')
                        span.fa.fa-wechat
                    dm-chat(name='TESTER')
                //-tab(id='docs', active='tabs.docs', select='toggleRight(true)')
                    tab-heading
                        span.fa.fa-paperclip
                    .col-xs-12.dm-space-saves(ng-if='tabs.docs')
                        .row(ng-controller='dmXplatformSaves', ng-include='"/static/dm-xplatform/controllers/dm-xplatform-saves/index.html"')


    .row(ng-style='{"height": bottombarHeight}', ui-view='bottombar')

