.col-sm-12.full-height.dm-space-top(tabindex='1', ng-keyup='keys.keyUp($event)')
    .row(ng-style='{"height": "calc(100% - " + bottombarHeight + ")"}')

        .dm-spacesidebar(ng-style='{"width": left.current}')
            .col-sm-12
                .row.clearfix
                    a.btn.pull-right.dm-space-toggle(ng-click='left.current = left.current === left.max ? left.min : left.max')
                        span.fa.fa-align-justify
            .col-xs-12(ng-if='warningType === "mine"')
                .row
                    .alert.alert-warning.dm-space-alert
                        | To nie jest twój workspace.
            .col-xs-12(ng-if='warningType === "other"')
                .row
                    .alert.alert-danger.dm-space-alert
                        | To nie jest Twój workspace&nbsp;

            .dm-spacesidebar-left(ng-style='{"width": left.max, "clear": "both"}')
                a.btn.btn-block.btn-default.workspace-btn(ui-sref="index.space.workspace({slide: workspaceId, parent:null})", 
                    ui-sref-active='btn-success active', ng-if="event.baseSlide")
                    span(ng-if="workspaceId")
                        span.fa.fa-wrench
                        span &nbsp;
                        span.show-if-active Twój kod
                        span.hide-if-active Wróć do swojego kodu
                    span.cursor-pointer(ng-click='openWorkspace()', ng-if="!workspaceId")
                        span Wróć do
                        span.fa.fa-wrench
                    span
                br
                ul.nav.nav-pills.nav-stacked
                    li(ui-sref-active='active', ng-if="event.intro")
                        a(ui-sref='index.space.slide({event: event._id, slide: event.intro})')
                            span.nav-icon.fa.fa-question-circle
                            span Intro

                    li(ng-repeat='i in event.iterations', 
                        ng-click="i.open = !i.open",
                        ng-class="{'active': activeIteration == $index, 'disabled': !editMode && i.status !== \"available\"}")
                        a.cursor-pointer
                            span.pull-right(ng-if="editMode", ng-click='removeIteration(i)')
                                span.fa.fa-trash.text-danger
                            span.nav-icon(ng-if="!editMode")
                                span.fa.fa-dot-circle-o(ng-if='i.status === "available"')
                                span.fa.fa-lock(ng-if='i.status != "available"')
                            span.cursor-pointer.nav-icon(ng-if="editMode", ng-click="changeIterationStatus(i)", tooltip="Click to change status")
                                span.fa.fa-dot-circle-o(ng-if='i.status === "available"')
                                span.fa.fa-lock(ng-if='i.status != "available"')
                            span {{i.title}}

                        
                        ul.nav.nav-stacked(ng-show="(i.open && (editMode || i.status ==='available')) || activeIteration == $index")
                            li(ui-sref-active="active", ng-repeat='material in i.materials')
                                a(ui-sref='index.space.player({iteration: $parent.$parent.$index, material: material._id})', ng-if="material.material")
                                    span.fa.fa-film.nav-icon
                                    span {{material.title}}
                                a(ui-sref='index.space.deck({iteration: $parent.$parent.$index, deck: material.deck})', ng-if="material.deck")
                                    span.fa.fa-university.nav-icon
                                    span {{material.title}}
                            li
                                a.cursor-pointer(ng-if='editMode', ng-click='createMaterial(i)')
                                    span.fa.fa-plus.nav-icon
                                    span Dodaj Audio
                            li(ng-repeat='task in i.tasks', ui-sref-active="active")
                                a(ui-sref='index.space.todo({iteration: $parent.$index, todo: task._id})')
                                        span.fa.fa-pencil.nav-icon
                                        span {{task.title}}
                                    //.col-xs-3.dm-space-checkbox.dm-cursor(ng-click='task.done = !task.done; markTaskAsDone(task, task.done)')
                                        span.fa.fa-square-o(ng-if='!task.done')
                                        span.fa.fa-check-square-o.text-success(ng-if='task.done')


                    li(ng-if='editMode'
                        ui-sref-active='active')
                        a.cursor-pointer(ng-click='createIteration()')
                            span Dodaj Iteracje
                    //li
                        a.cursor-pointer(ng-click='openWorkspace()') 
                            span.fa.fa-wrench.nav-icon
                            span Workspace
                    li
                        a(ng-href="{{event.rankingLink}}", ng-if="event.rankingLink", target="ranking")
                            span.nav-icon.fa.fa-bar-chart
                            span.pull-right.fa.fa-external-link
                            span Ranking
                    //li(ui-sref-active='active')
                        a(ui-sref='index.space.ranking')
                            span.nav-icon.fa.fa-bar-chart
                            span Ranking


        .dm-space(ng-style='{"width": "calc(100% - " + left.current + " - " + right.current + ")"}')
            .col-xs-12.full-height
                .row.full-height(ng-if='!showTutorial', ui-view='content')

        .dm-spacesidebar(ng-style='{"width": right.current}')
            a.btn.pull-left.dm-space-toggle.cursor-pointer(
                analytics-category='spacesidebar',
                analytics-on='click', analytics-event='spacesidebar.toggle'
                ng-click='toggleRight()')
                span.fa.fa-align-justify
            tabset.dm-spacesidebar-right(ng-class='{"active": !right.opened}')
                tab.cursor-pointer(id='stream', active='tabs.stream', 
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.stream',
                    select='toggleRight(true)')
                    tab-heading(tooltip='Baza wiedzy', tooltip-placement='bottom')
                        span.fa.fa-newspaper-o
                    .col-xs-12.full-height
                        .row.full-height(ui-view='first')
                tab.cursor-pointer(id='issues', active='tabs.issues', 
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.issues',
                    select='toggleRight(true)')
                    tab-heading(
                        tooltip='Pytania', tooltip-placement='bottom')
                        span.fa.fa-warning
                    .col-xs-12.dm-space-questions
                        .row(ng-controller='dmXplatformQuestion', ng-include='"/static/dm-xplatform/controllers/dm-xplatform-question/index.html"')

                //-tab.cursor-pointer(id='chat', active='tabs.chat', 
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.chat',
                    select='toggleRight(true)')
                    tab-heading(
                        tooltip='Czat', tooltip-placement='bottom')
                        span.fa.fa-wechat
                    dm-chat(name='TESTER')
                //-tab(id='docs', active='tabs.docs', select='toggleRight(true)')
                    tab-heading(tooltip='Zapisane stany', tooltip-placement='bottom')
                        span.fa.fa-paperclip
                    .col-xs-12.dm-space-saves(ng-if='tabs.docs')
                        .row(ng-controller='dmXplatformSaves', ng-include='"/static/dm-xplatform/controllers/dm-xplatform-saves/index.html"')


    .row(ng-style='{"height": bottombarHeight}', ui-view='bottombar')

