.col-md-offset-1.col-md-10.dm-xplatform-stream
    .list-group
        .list-group-item(ng-repeat='activity in stream.result', ng-init='details = detailsForActivity(activity)')
            img(ng-src='{{activity.owner.avatar | dmGravatar: 30}}', 
            	ui-sref='index.devhero({id: activity.owner.userId})',
                analytics-category='stream', 
            	analytics-on='click', analytics-event='stream.user.img')
            a.dm-stream-blue(
            	ui-sref='index.devhero({id: activity.owner.userId})', 
                analytics-category='stream',
            	analytics-on='click', analytics-event='stream.user.name'
            	) {{activity.owner.name}}&nbsp;
            span {{details.text}}&nbsp;
            a.dm-stream-green(ui-sref='{{details.link}}', 
                analytics-category='stream',
            	analytics-on='click', analytics-event='stream.details') {{details.title}}
            p.dm-stream-time(am-time-ago='{{activity._id | dmMongotime}}')
            div
                div

