.col-md-12.dm-leftbar-container
    .profile-info(ng-if='user')
        p 
            img.dm-leftbar-link(ng-src='{{user.result.avatar | dmGravatar:35}}', ui-sref='index.devhero({id: user.result._id})')
        p.dm-leftbar-link.dm-leftbar-name(ui-sref='index.devhero({id: user.result._id})')
            strong {{user.result.name}} 
        button.btn.btn-xs.btn-warning(
            ng-if='user.result.bio === undefined || user.result.bio.length === 0', ui-sref='index.profile',
            analytics-category='menu',
            analytics-on='click', analytics-event='left.fillBio'
            ) Uzupełnij BIO
        p.dm-leftbar-link(
            ng-if='user.result.bio !== undefined && user.result.bio.length !== 0', ui-sref='index.profile',
            analytics-category='menu',
            analytics-on='click', analytics-event='left.editProfile'
            ) Edytuj profil
    .list-group
        a.list-group-item(ng-repeat='section in sections', ui-sref='{{section.sref}}', ui-sref-active='dm-index-active')
            | {{section.title}}
            .dm-xplatform-bottomstripe
            .dm-xplatform-bottomstripe
