.slide-workspace.full-height
  sw-output-eval(
    base-url="model.output.baseUrl"
    code-id="model.output.codeId"
    hide-base-url="model.output.hideBaseUrl"
    is-dead="model.output.isDead"
    is-syncing="model.output.isSyncing"
    is-with-console="model.output.isWithConsole"
  )

  .full-height(ng-if="model.layout.name === 'tabs'")
    include ../layouts/tabs
  .full-height(ng-if="model.layout.name === 'tabs-v'")
    include ../layouts/tabs-v

  div.text-muted.layout-chooser
    span.fa.fa-code(ng-click="showLayoutChooser = !showLayoutChooser")
    select(ng-model="layout.name", ng-show="showLayoutChooser", ng-change="showLayoutChooser = false")
      option(value="tabs") Classic
      option(value="tabs-v") Classic V
