.col-md-12.dm-paypageprice-container

	.row
		.col-md-12
			.paypageprice-progress-holder
				.progress
					.progress-bar.progress-bar-success.progress-bar-striped(role='progressbar', 
						aria-valuenow='{{course.progressbarValue}}', aria-valuemin='0', aria-valuemax='100', style='width: {{course.progressbarValue}}%;')
						| {{course.progressbarValue}}


		.col-md-12.paypageprice-radio-holder
			| Tak, chcę ten kurs zapłacę za niego:
			.btn-toolbar(role='toolbar')

				.row
					.col-md-12.btn-group
						.btn-group-sm
							button.btn.btn-primary.col-md-4(
								ng-class="{'active': price==10}",
								analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="change.10",
								analytics-value="10", ng-click="price=10")
								| 10 PLN
						.btn-group-sm
							button.btn.btn-primary.col-md-4.col-md-offset-2(
								ng-class="{'active': price==25}",
								analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="change.25", 
								analytics-value="25", ng-click="price=25")
								| 25 PLN

					.col-md-12.btn-group
						.btn-group-sm
							button.btn.btn-primary.col-md-4(
								ng-class="{'active': price==50}",
								analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="change.50", 
								analytics-value="50",ng-click="price=50")
								| 50 PLN
						.btn-group-sm
							button.btn.btn-primary.col-md-4.col-md-offset-2(
								ng-class="{'active': price==100}",
								analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="change.100", 
								analytics-value="100",ng-click="price=100")
								| 100 PLN

							
				.row
					.col-md-12
						button.btn.btn-success.btn-lg(type='button',
							analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="pay", analytics-value="{{price}}"
							) 
							| Ok
