.col-md-12.dm-paypageprice-container

	.row
		.col-md-12
			.paypageprice-progress-holder
				h3 Stan zbiórki
				.progress
					.progress-bar.progress-bar-success.progress-bar-striped(role='progressbar', 
						aria-valuenow='{{course.progressbarValue}}', aria-valuemin='0', aria-valuemax='100', style='width: {{course.progressbarValue}}%;')
						| {{course.progressbarValue}}%


		.col-md-12.paypageprice-radio-holder
			h3 Tak, potrzebuję tego kursu!
			h4 Zapłacę za niego:
			.btn-toolbar.prices(role='toolbar')

				.row
					.col-xs-6
						button.btn.btn-default.btn-block(
							ng-class="{'btn-primary active': course.price===10}",
							analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="change.10",
							analytics-value="10", ng-click="course.price=10")
							| 10 PLN
					.col-xs-6
						button.btn.btn-default.btn-block(
							ng-class="{'btn-primary active': course.price===25}",
							analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="change.25", 
							analytics-value="25", ng-click="course.price=25")
							| 25 PLN
				.row
				.row
					.col-xs-6
						button.btn.btn-default.btn-block(
							ng-class="{'btn-primary active': course.price===50}",
							analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="change.50", 
							analytics-value="50",ng-click="course.price=50")
							| 50 PLN
					.col-xs-6
						button.btn.btn-default.btn-block(
							ng-class="{'btn-primary active': course.price===100}",
							analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="change.100", 
							analytics-value="100", ng-click="course.price=100")
							| 100 PLN

							
				.row
					.col-md-12
						button.btn.btn-success.btn-lg.btn-ok.btn-block(
							ui-sref="index.paymentThanks",
							ng-show="course.price",
							analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="pay", analytics-value="{{course.price}}"
							) 
							span(ng-show="course.price")
								span.fa.fa-money
								|  Płacę {{course.price}} PLN
			hr
			h3 Albo wolę wykupić abonament
			h4 w którym będę miał dostęp do wszystkich kursów za
			button.btn-lg.btn-block.btn-default.btn-abo(
				ui-sref="index.paymentThanks",
				ng-class="{'btn-success': !course.price || over}"
				ng-mouseenter="over=1", ng-mouseleave="over=0"
				analytics-on="click", analytics-category="payment.{{course.title}}", analytics-event="abo.pay", analytics-value="40")
				span.fa.fa-calendar
				|  40 zł / miesiąc
			a.text-muted.cursor-pointer.pull-right(
				analytics-on="click", analytics-category="payment.{{corse.title}}", analytics-event="abo.more") Dowiedz się więcej...

							
