.modal-body
  .row
    .col-xs-12.with-padding.text-center
      h1
        | Congratulations!
      h1.text-success
        span.fa.fa-trophy.fa-3x
      h2.text-muted You have finished watching  {{currentMaterial.title}}.
  .row
    .col-xs-12
      .player-buttons
        a.btn.btn-block.btn-default.cursor-pointer(
          ng-click="$dismiss()"
          )
          span.fa.fa-fw.fa-arrow-left.pull-left.direction
          span Back To The Movie
        a.btn.btn-block.btn-success.cursor-pointer(
            ng-if="nextMaterial"
            ui-sref="index.space.learn.player({iteration: iterationIdx, material: nextMaterial._id })"
            ng-click="$close()"
          )

          span.fa.fa-fw.fa-film
          span {{nextMaterial.title}}
          span.fa.fa-fw.fa-arrow-right.pull-right.direction
        a.btn.btn-block.btn-success.cursor-pointer(
            ng-if="nextTask"
            ui-sref="index.space.learn.workspace.task({slide:workspaceId, iteration: iterationIdx, todo: 0 })"
            ng-click="$close()"
          )
          span.fa.fa-fw.fa-code
          span Go To Tasks
          span.fa.fa-fw.fa-arrow-right.pull-right.direction
