a.btn(
  ng-click="model.openDownloadModal()"
  target="_blank"
  download="xpla-ionic.apk"
  tooltip="Download APK for your device"
  tooltip-placement="bottom"
  tooltip-animation="false"
  tooltip-append-to-body="true"
)
  span.fa.fa-android
