.col-xs-12.full-height
    .row.dm-annos(ng-show="annotations.length === 0")
        .col-xs-12
            h4 Documentation will be displayed here.
    .row(ng-if="$root.editMode && !showAll")
      .col-xs-12
          h5.text-muted New Comment
          dm-annotation-edit(
            simple='true'
            current-second='state.currentSecond'
            snippet="newSnippet"
            event-id="eventId"
            iteration-id="iterationId"
            resetSnippet="newSnippet = {}"
            material-id="materialId"
            annotations="annotations"
            )
          hr
          dm-annotation-edit(
            snippet="newSnippet"
            event-id="eventId"
            iteration-id="iterationId"
            resetSnippet="newSnippet = {}"
            material-id="materialId"
            annotations="annotations"
            )

    .form-group.dm-annos-search(ng-if='showSearch && !$root.editMode', ng-show="annotations.length")
        input.input-sm.form-control(placeholder="Search", ng-model='search.text')
    .row.dm-annos
        .list-group(ng-if="showAll")
            .list-group-item.dm-annos-item(
                ng-repeat='p in groups.sub')
                dm-annotation-group(group='p')

        .list-group.dm-annos-subs(ng-if="!showAll && !$root.editMode")
          .list-group-item.dm-annos-item(
                ng-repeat='p in annotations | filter: search.text | orderBy: "-timestamp" | orderBy: "index"', 
                ng-if='p.timestamp <= state.currentSecond && p.description')
                dm-annotation(annotation='p', show-iteration='showAll', ng-if='p.type === "snippet" || p.type === "comment"')
                dm-microtask(microtask='p', ng-if='p.type === "task"')
                
                button.btn.btn-xs.btn-warning(
                  ng-if="$root.editMode && !p.reason", 
                  ng-click="p.editing = !p.editing")
                    span.fa.fa-pencil
                dm-annotation-edit(
                    ng-if="p.editing",
                    snippet="p",
                    event-id="eventId",
                    iteration-id="iterationId",
                    material-id="materialId"
                    annotations="annotations"
                    )
  
        div(ng-if="$root.editMode && currentAnno")
          h5.text-muted Edit Current Annotation
          dm-annotation-edit(
            ng-if="!currentAnno.reason"
            snippet="currentAnno",
            event-id="eventId",
            iteration-id="iterationId",
            material-id="materialId"
            annotations="annotations"
          )
