.section-slides.col-sm-12.full-height
  .row.full-height
    button.btn.btn-xs.btn-default(
      ng-if="modes.isEditMode && !downloadLink",
      ng-click="downloadDeck()",
      tooltip="Download deck as json"
    )
      span.fa.fa-download

    button.btn.btn-lg.btn-primary(
      ng-if="modes.isEditMode && downloadLink",
      ng-href="{{downloadLink}}",
      ng-click="downloadLink = false"
    )
      | Download

    .dm-slide-left(
      ng-class="{'col-xs-9' : slide.content.sidebar, 'col-xs-12': !slide.content.sidebar }"
    )
        plugins-loader(namespace="'slide'", context="slide.content", path='', recorder='recorder')
        plugins-loader(ng-if="modes.isEditMode", namespace="'slide.edit'", context="slide.content", path='', recorder='recorder')

    .col-xs-offset-9.col-xs-3.dm-slide-panel(
      ng-if="slide.content.sidebar"
    )
        plugins-loader.full-height(namespace="'slide'", context="slide.content.sidebar", path='', recorder='recorder')
        plugins-loader.full-height(namespace="'slide.sidebar'", context="slide.content", path='', recorder='recorder')
