.container
    .col-xs-12.dm-table-container
        .row
            .col-xs-12
                h1 {{course.title}}
        .row
            .col-md-6
                .course-background
                    h4 Twój Workspace
                    hr
                    h5 Tutaj rozwijasz swój projekt DevMeetingowy.
                    p Projekty na DevMeetingu implementujemy na platformie. Poniższa ikonka kieruje Cię do Twojego prywatnego workspace'a, w którym rozwijasz projekt.
                    p
                        .dropdown
                            .btn.course-button.dropdown-toggle(type='button', data-toggle='dropdown')
                                &nbsp;
                                span.fa.fa-wrench
                                &nbsp;
                            ul.dropdown-menu(role='menu')
                                li(role='presentation') 
                                    a(ng-click='createWorkspace()') Stwórz Workspace
                                li.divider(ng-if='slidesaves.length > 0')
                                li(ng-repeat='slide in slidesaves | orderBy: "-timestamp"') 
                                    a.dm-cursor(ui-sref='index.task({slide: slide._id})') {{slide.title}}
            .col-md-6
                .course-background
                    h4 Ranking
                    hr
                    h5 Status realizacji zadań - aktualizowany przez Was!
                    p
                        a.btn.course-button(href='https://docs.google.com/spreadsheets/d/1G1-j8UT5gGZQZ_DK8IYkkBrTZ7jr_22dIJmk529Swfw/edit#gid=0', target='_blank')
                            &nbsp;
                            span.fa.fa-bar-chart
                            &nbsp;

        .row
            .col-xs-12
                .course-background
                    table.table.dm-table
                        tr
                            th(ng-if='editMode')
                                h5 Visible
                            th: h5 Tutorial
                            th: h5 Zadanie 
                            th: h5 Ukonczyli tutorial 
                        tr(ng-repeat='event in events | filter: xplatformData.navbar.searchText | orderBy: "title"', ng-if='event.visible || editMode' )
                            td(ng-if='editMode')
                                input(type='checkbox', ng-model='event.visible', ng-change='visibilityChanged(event)')
                            td
                                a.dm-table-blue(
                                    ui-sref='index.player.chapter({id: event.trainingId, index: "0", event: event._id})', 
                                    analytics-on='click', analytics-event='table.tutorial', analytics-category="{{event.title}}") {{event.title}}
                            td
                                a.dm-table-green(ng-if='event.taskUrl', href='{{event.taskUrl}}', target='_blank') Zadanie {{$index + 1}}
                            td.dm-table-avatars 
                                div 
                                    img(
                                        ng-repeat='user in event.peopleFinished.slice().reverse() | limitTo: 4', 
                                        ng-src='{{user.avatar | dmGravatar:25}}', 
                                        ui-sref='index.devhero({id: user.userId})',
                                        analytics-on='click', analytics-event='table.user', analytics-category="{{event.title}}", analytics-label="{{user.userId}}")
                                    span(ng-if='event.peopleFinished.length > 4', 
                                        ng-click='showUsers(event.peopleFinished)', 
                                        analytics-on='click', analytics-event='table.showMore', analytics-category="{{event.title}}"
                                        ) + {{event.peopleFinished.length - 4}}
        .row
            .col-xs-12
                .course-empty
