.row.slide-workspace.full-height
    .sw-col.full-height(
        ng-class="{'col-sm-12': !output.sideBySide, 'col-sm-10': output.width == 2,'col-sm-8': output.width == 4,'col-sm-6': output.width == 6,'side-by-side': output.sideBySide }")
        .row.full-height
            ul.nav.nav-tabs
                li.workspace-tab.workspace-tab-output.pull-right(
                    ng-if="!output.sideBySide", ng-class="{'workspace-tab-active': output.show}")
                    a.cursor-pointer(ng-click="output.show = true")
                        | Preview
                li.workspace-tab.workspace-file-tab(
                    ng-repeat="tabName in workspace.tabs |objectKeys|orderBy:tabsOrdering",
                    ng-class="{'workspace-tab-active': workspace.active === tabName && !output.show }")
                    a.cursor-pointer(
                        class="{{ 'type-' + getType(tabName) }}",
                        ng-click="setActiveTabName(tabName)",
                        ng-disabled="isStudent()"),
                        span.fa.fa-circle.type-icon
                        |  {{ toFileName(tabName) }}
                    a.cursor-pointer.workspace-tab-close(ng-click="removeTab(tabName)", tooltip="Delete", tooltip-placement="right",
                        analytics-event="workspace-deleteTab", analytics-category="workspace")
                        | x
                    a.cursor-pointer.workspace-tab-edit(ng-click="editTabName(tabName)", tooltip="Edit name", tooltip-placement="right",
                        analytics-event="workspace-editTab", analytics-category="workspace")
                        span.fa.fa-pencil
                li.workspace-tab.add-tab
                    a.cursor-pointer(ng-click="insertTab()")
                        | +
                li.workspace-tab.workspace-sidebyside.pull-right
                    a.cursor-pointer(ng-click="changeWidth()", analytics-event="workspace-changeWidth", analytics-category="workspace")
                        span.fa.fa-arrows-h
                li.workspace-tab.pull-right.workspace-tab-condensed
                    a.cursor-pointer(ng-href="/api/page/{{ output.hash }}/", target="_blank", tooltip="Open your page in new window",
                                        analytics-event="workspace-newWindow", analytics-category="workspace")
                        span.fa.fa-external-link
                li.workspace-tab.workspace-download.pull-right.workspace-tab-condensed
                    a.cursor-pointer(ng-href="/api/download/{{output.hash}}", analytics-event="workspace-download", analytics-category="workspace")
                        span.fa.fa-download
                li.workspace-tab.workspace-upload.pull-right.workspace-tab-condensed(tooltip="Upload saved ZIP with files")
                    a(ng-if="isUploading")
                        | Uploading {{ uploadingState }}%
                    div.cursor-pointer(analytics-event="workspace-upload", analytics-category="workspace", analytics-on="click", ng-if="!isUploading")
                        input.cursor-pointer(type="file", ng-file-select="onFileSelect($files)")
                        span.fa.fa-upload
                li.workspace-tab.pull-right(ng-if="hasFormatting()")
                    a.cursor-pointer(ng-click="formatTab()")
                        span.fa.fa-indent
                li.workspace-tab.pull-right
                    div.btn-group
                        label.btn.btn-sm.btn-primary(ng-model="mode", btn-radio="'mentor_session'") Utwórz sesję mentora
                        label.btn.btn-sm.btn-primary(ng-model="mode", btn-radio="'pair_session'") Utwórz sesję pair-programming


            .tab-content(ng-show="!output.show")
                .tab-pane.active.fade.in.scrollable-container
                    .editor.ace_editor(class="editor-{{ workspace.size || 'md' }}")
                .errors.alert.alert-danger.errors-fiddle {{ errors }}
            .tab-content(ng-show="output.show", ng-if="!output.sideBySide")
                slide-workspace-output.full-height

    .sw-col.full-height(
        ng-if="output.sideBySide"
        ng-class="{'col-sm-2': output.width == 2, 'col-sm-4': output.width == 4, 'col-sm-6': output.width == 6}"
        )
        .row.full-height
            slide-workspace-output.full-height

