doctype html
html.full-height(
  lang='en',
  ng-init="$root.performance = []",
  ng-class="{'performance-anims': $root.performance.indexOf('anims') > -1, 'performance-shadows': $root.performance.indexOf('shadows') > -1 }")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name="theme-color", content="#222")
    block title
      title(ng-bind="title")= title
    block head
    link(rel="icon", type="image/svg+xml", href="/static/images/xplatform-icon.svg")
    link(rel="icon", type="image/png", sizes="192x192" href="/static/images/xplatform-icon-big.png")
    link(rel="icon", type="image/png", ng-href="/static/images/xplatform-{{$root.icon}}.png")
    block css
      link(rel='stylesheet', href='/static/css/style#{cacheBustingVersion}.css')
    block js2
    if isDev
      script(src="https://localhost:26000/livereload.js")
  body.full-height(ng-init="$root.modes = {};$root.title='#{title}';$root.icon='icon'")
    block content
    block scripts
    if typeof withGoogleAnalytics !== 'undefined' && withGoogleAnalytics
      script.
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', '#{withGoogleAnalytics}', 'auto');

    if version
      footer.dm-version(
        ng-class="{'active': $root.editMode}"
        ng-bind="'#{version}'"
        )

