mixin materialsLinks()
  li(ui-sref-active="active", ng-repeat='material in iteration.active.materials')
    a(
      tooltip="{{material.title}}"
      tooltip-placement="bottom"
      tooltip-animation="false"
      ui-sref='index.space.player({iteration: iteration.currentIdx, material: material._id})'
      ng-if="material.material"
      )
        span.fa.fa-film.nav-icon
        span(ng-if="iteration.active.materials.length < 4") {{material.title}}
    a(
      ui-sref='index.space.deck({iteration: iteration.currentIdx, deck: material.deck.deck, from: material.deck.from, to: material.deck.to, name: material.title})'
      ng-if="material.deck.deck")
        span.fa.fa-university.nav-icon
        span(ng-if="iteration.active.materials.length < 4") {{material.title}}


.dm-event-menu.full-height.ng-cloak
  .menu-header.sidebar-title
      button.btn.btn-link.btn-sm.text-muted(
        ng-style="{'visibility': iteration.currentIdx > 0 ? 'visible' : 'hidden' }",
        ng-click="iteration.currentIdx = iteration.currentIdx - 1")
        span.fa.nav-icon.fa-chevron-left
      h4 {{ iteration.active.title }}
      button.btn.btn-link.btn-sm.text-muted(
        ng-style="{'visibility': iteration.currentIdx < event.iterations.length - 1 ? 'visible' : 'hidden' }",
        ng-click="iteration.currentIdx = iteration.currentIdx + 1")
        span.fa.nav-icon.fa-chevron-right
  .scroll
    ul.nav.nav-tabs.menu-hr(ng-show="iteration.active")
      +materialsLinks()

    ul.nav.nav-tabs.menu-hr(ng-show="iteration.active.tasks.length > 1")
      li(
        ng-class="{'active': iteration.currentTaskIdx === $index}"
        ng-repeat="task in iteration.active.tasks"
        )
        a.cursor-pointer(
          ng-click="iteration.currentTaskIdx = $index"
          tooltip="{{task.title}}"
          tooltip-placement="bottom"
          tooltip-animation="false"
          )
          span.fa.fa-pencil.nav-icon
          span(ng-if="iteration.active.tasks.length < 3") {{ task.title }}

    a.task-link(
      ng-show="!isLoading"
      ng-href="{{ iteration.active.tasks[iteration.currentTaskIdx].url }}"
      target="_blank",
      tooltip="Open task in separate window",
      tooltip-animation="false",
      tooltip-placement="top"
      )
      span.fa.fa-external-link

    .menu-loader.text-center(ng-show="isLoading")
      span.fa.fa-spin.fa-spinner.fa-2x

    iframe.full-frame(
      seamless,
      ng-if="iteration.active.tasks[iteration.currentTaskIdx]"
      dm-iframe="{{ iteration.active.tasks[iteration.currentTaskIdx].url }}?embed"
      dm-iframe-timeout="30"
      dm-iframe-loading="isLoading"
    )
