mixin materialsLinks()
  li(ui-sref-active="active", ng-repeat='material in iteration.active.materials')
    a(
      title="{{material.title}}"
      ui-sref='index.space.learn.player({iteration: iteration.currentIdx, material: material._id})'
      ng-if="material.material"
      )
        span.fa.fa-film.nav-icon
        span {{material.title}}
    a(
      title="{{material.title}}"
      ui-sref='index.space.learn.deck({iteration: iteration.currentIdx, deck: material.deck.deck, from: material.deck.from, to: material.deck.to, name: material.title})'
      ng-if="material.deck.deck")
        span.fa.fa-university.nav-icon
        span {{material.title}}


.dm-event-menu.full-height.ng-cloak
  .menu-header.sidebar-title
      button.btn.btn-link.btn-sm.text-muted(
        ng-style="{'visibility': iteration.currentIdx > 0 ? 'visible' : 'hidden' }",
        ng-click="iteration.currentIdx = iteration.currentIdx - 1")
        span.fa.nav-icon.fa-chevron-left
      h4 {{ iteration.active.title }}
      button.btn.btn-link.btn-sm.text-muted(
        ng-style="{'visibility': iteration.currentIdx < event.iterations.length - 1 ? 'visible' : 'hidden' }",
        ng-click="iteration.currentIdx = iteration.currentIdx + 1")
        span.fa.nav-icon.fa-chevron-right
  .scroll(ng-scrollbar rebuild-on-resize)
    ul.dm-breadcrumb.dm-links-small(
      ng-show="iteration.active")
      +materialsLinks()

    ul.dm-breadcrumb.dm-links-small(
      ng-show="iteration.active.tasks.length > 1")
      li(
        ng-class="{'active': iteration.currentTaskIdx === $index}"
        ng-repeat="task in iteration.active.tasks"
        )
        a.cursor-pointer(
          ng-click="iteration.currentTaskIdx = $index"
          title="{{task.title}}"
          )
          span.fa.fa-pencil.nav-icon
          span {{ task.title }}

    .menu-loader.text-center(ng-show="isLoading")
      span.fa.fa-spin.fa-spinner.fa-2x

    iframe.full-frame.tasks-iframe(
      seamless,
      ng-if="taskUrl"
      dm-iframe="{{ taskUrl }}?embed&url={{ getUrl() }}"
      dm-iframe-timeout="30"
      dm-iframe-loading="isLoading"
    )
