.col-sm-12.full-height.dm-space-top(tabindex='1', ng-keyup='keys.keyUp($event)')
    .row(ng-style='{"height": "calc(100% - 3px - " + bottombarHeight + ")"}')

        .dm-spacesidebar(ng-style='{"width": left.current}')
            .row.clearfix
                .col-sm-12
                    a.btn.pull-right.dm-space-toggle(ng-click='left.current = left.current === left.max ? left.min : left.max')
                        span.fa.fa-align-justify
                    a.pull-left.btn.btn-link(
                        href='/',
                        analytics-category='menu',
                        analytics-on='click', analytics-event='navbar.logo')
                        img(src="static/images/navbar/xplatform_logo.png")
                
        .dm-space(
          ng-class="{'zen-mode': $root.isZenMode }",
          ng-style='{"width": "calc(100% - " + left.current + " - " + right.min + ")"}')
            .full-height
              iframe.full-frame(
                  seamless=true,
                  dm-iframe="{{event.liveLink | liveLinkUrl:''}}",
                  ng-if="event.liveLink && showTutorial")
              .row.full-height(ng-if='!showTutorial', ui-view='content')

              .dm-space-live(ng-if="event.liveLink && !right.pinned")
                  iframe.full-frame(
                    seamless=true,
                    dm-iframe="{{ event.liveLink | liveLinkUrl:'embed' }}")

        .dm-spacesidebar.dm-spacesidebar-right-container(
            ng-style='{"width": right.current, "overflow": "visible"}',
            ng-class="{'pinned': right.pinned, 'opened': right.opened}",
            analytics-category='spacesidebar',
            analytics-on='mouse-enter',
            ng-mouseenter='right.mouseOn=true; right.pinned || toggleRightDelayed(true)',
            ng-mouseleave='right.mouseOn=false; right.pinned || toggleRightDelayed(false)'
        )
          .dm-space-live(ng-if="event.liveLink && right.pinned")
            iframe.full-frame(
              seamless=true,
              dm-iframe="{{ event.liveLink | liveLinkUrl:'embedBig' }}")

          .dm-spacesidebar-right
            include ./space-sidebar-buttons.jade
            tabset(ng-class='{"active": !right.opened}')
                include ./space-tabs-main.jade
                .separator
                include ./space-tab-user.jade
                tab.cursor-pointer(
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.zen',
                    disabled="true",
                    ng-click='changeFullScreen(true)'
                  )
                    tab-heading.cursor-pointer(
                      tooltip='Full Screen', tooltip-placement='left', title="Full Screen",
                      tooltip-animation='false',
                      )
                      span.fa.fa-desktop

    .row(ng-style='{"height": bottombarHeight}', ui-view='bottombar')

