.dm-spacesidebar-left
    .text-center
    // Workspace warning
    .col-xs-12(ng-if='warningType === "mine"')
        .row
            .alert.alert-warning.dm-space-alert
                | To nie jest twój workspace.
    .col-xs-12(ng-if='warningType === "other"')
        .row
            .alert.alert-danger.dm-space-alert
                | To nie jest Twój workspace.
    br
    ul.nav.nav-pills.nav-stacked
        li(ui-sref-active='active', ng-if="event.intro")
            a(ui-sref='index.space.slide({event: event._id, slide: event.intro})')
                span.nav-icon.fa.fa-question-circle
                span Intro

        li(ng-repeat='i in event.iterations',
            ng-click="i.open = !i.open",
            ng-class="{'active': activeIteration == $index }")
            a.cursor-pointer
                span.nav-icon
                  span.fa.fa-dot-circle-o
                span {{i.title}}

            ul.nav.nav-stacked(ng-show="(i.open) || activeIteration == $index")
              li(ui-sref-active="active", ng-repeat='material in i.materials')
                  a.dm-external-link(ng-href="/decks/{{material.deck.deck}}?from={{material.deck.from}}&to={{material.deck.to}}&name={{material.title}}", target="_blank", ng-if="material.deck.deck")
                      span.fa.fa-external-link

                  a.dm-external-link(ui-sref='index.space.player({iteration: $parent.$parent.$index, material: material._id, withVoice:true})',
                    ng-if="material.url")
                      span.fa.fa-volume-up
                  a(ui-sref='index.space.player({iteration: $parent.$parent.$index, material: material._id})', ng-if="material.material")
                      span.fa.fa-film.nav-icon
                      span {{material.title}}
                  a(ui-sref='index.space.deck({iteration: $parent.$parent.$index, deck: material.deck.deck, from: material.deck.from, to: material.deck.to, name: material.title})',
                      ng-if="material.deck.deck")
                      span.fa.fa-university.nav-icon
                      span {{material.title}}
                li
                    a.cursor-pointer(ng-if='editMode', ng-click='createMaterial(i)')
                        span.fa.fa-plus.nav-icon
                        span Dodaj Audio
                li(ng-repeat='task in i.tasks', ui-sref-active="active")
                  a.dm-external-link(ng-href="{{task.url}}", target="_blank")
                    span.fa.fa-external-link

                  a(ui-sref='index.space.todo({iteration: $parent.$index, todo: task._id})')
                    span.fa.fa-pencil.nav-icon
                    span {{task.title}}

    .dm-spacesidebar-user.text-center(ng-if="user")
        a.btn.btn-block.btn-default.workspace-btn(
            ui-sref="index.space.workspace({slide: workspaceId, parent:null})",
            ui-sref-active='btn-success active', ng-if="event.baseSlide")
          span(ng-if="workspaceId")
              span.fa.fa-code.fa-fw
              span.show-if-active Your Code
              span.hide-if-active Back to Your Code
          span.cursor-pointer(ng-click='openWorkspace()', ng-if="!workspaceId")
              span Back to
              span.fa.fa-wrench.fa-fw
