.col-sm-12.full-height.dm-space-top(tabindex='1', ng-keyup='keys.keyUp($event)')
    .row(ng-style='{"height": "calc(100% - 3px - " + bottombarHeight + ")"}')

        .dm-spacesidebar(ng-style='{"width": left.current}')
            .row.clearfix
                .col-sm-12
                    a.btn.pull-right.dm-space-toggle(ng-click='left.current = left.current === left.max ? left.min : left.max')
                        span.fa.fa-align-justify
                    a.pull-left.btn.btn-link(
                        href='/',
                        analytics-category='menu',
                        analytics-on='click', analytics-event='navbar.logo')
                        img(src="static/images/navbar/xplatform_logo.png")
                
        .dm-space(
          ng-class="{'zen-mode': $root.isZenMode }",
          ng-style='{"width": "calc(100% - " + left.current + " - " + right.min + ")"}')
            .full-height
              iframe.full-frame(
                  seamless=true,
                  dm-iframe="{{event.liveLink | liveLinkUrl:''}}",
                  ng-if="event.liveLink && showTutorial")
              .row.full-height(ng-if='!showTutorial', ui-view='content')

              .dm-space-live(ng-if="event.liveLink && !right.pinned")
                  iframe.full-frame(
                    seamless=true,
                    dm-iframe="{{ event.liveLink | liveLinkUrl:'embed' }}")

        .dm-spacesidebar.dm-spacesidebar-right-container(
            ng-style='{"width": right.current, "overflow": "visible"}',
            ng-class="{'pinned': right.pinned, 'opened': right.opened}",
            analytics-category='spacesidebar',
            analytics-on='mouse-enter',
            ng-mouseleave='right.pinned || toggleRight(false)'
        )
          .dm-space-live(ng-if="event.liveLink && right.pinned")
            iframe.full-frame(
              seamless=true,
              dm-iframe="{{ event.liveLink | liveLinkUrl:'embedBig' }}")

          .dm-spacesidebar-right
            ul.nav.nav-tabs.pull-right
              li
                a.cursor-pointer(ng-click="toggleRight(true);togglePinRight()")
                  span.fa.fa-thumb-tack(ng-hide="right.pinned")
                  span.fa.fa-toggle-right(ng-show="right.pinned")
            ul.nav.nav-tabs.pull-left
              li(tooltip="XPlatform", tooltip-placement="left")
                a(href="#/",
                  analytics-category='menu',
                  analytics-on='click', analytics-event='navbar.logo')
                  img(src="static/images/xplatform-icon-trans.svg", width="20", height="20")

            .separator
            ul.nav.nav-tabs.pull-left
              li(tooltip="Your code", tooltip-placement="left")
                a.btn.btn-block.workspace-btn(
                  ui-sref="index.space.workspace({slide: workspaceId, parent:null})",
                  ui-sref-active='btn-success active', ng-if="event.baseSlide")
                  span.fa.fa-wrench

            tabset(ng-class='{"active": !right.opened}')
                tab.cursor-pointer(id='menu', active='tabs.menu',
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.menu',
                    select='toggleRight(true)',
                    ng-click='toggleRight(true)'
                )
                    tab-heading.cursor-pointer(tooltip='Iterations', tooltip-placement='left')
                        span.fa.fa-tasks
                    include ./dm-xplatform-space-menu
                    
                tab.cursor-pointer(
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.agenda',
                    select='toggleRight(true)',
                    ng-click='toggleRight(true)',
                    ng-if="event.liveLink"
                )
                    tab-heading.cursor-pointer(tooltip='Agenda', tooltip-placement='left')
                        span.fa.fa-calendar
                    iframe.full-frame(
                            seamless=true,
                            dm-iframe="{{ event.liveLink | liveLinkUrl:'agenda' }}")

                // tab.cursor-pointer(
                //     analytics-category='spacesidebar',
                //     analytics-on='click', analytics-event='spacesidebar.ranking',
                //     select='toggleRight(true)',
                //     ng-click='toggleRight(true)',
                //     ng-if="event.liveLink"
                // )
                //     tab-heading.cursor-pointer(tooltip='Ranking', tooltip-placement='left')
                //         span.fa.fa-line-chart
                //     iframe.full-frame(
                //             seamless=true,
                //             dm-iframe="{{ event.liveLink | liveLinkUrl:'ranking' }}")
                //
                //
                tab.cursor-pointer(id='stream', active='tabs.stream',
                   analytics-category='spacesidebar',
                   analytics-on='click', analytics-event='spacesidebar.stream',
                   select='toggleRight(true)',
                   ng-click='toggleRight(true)'
                )
                   tab-heading.cursor-pointer(tooltip='Docs', tooltip-placement='left')
                       span.fa.fa-newspaper-o
                   .col-xs-12.full-height
                       .row.full-height(ui-view='first')
                .separator
                tab.cursor-pointer(
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.user',
                    select='toggleRight(true)',
                    ng-click='toggleRight(true)'
                )
                    tab-heading.cursor-pointer(
                      tooltip='{{ user.result.name }}', 
                      tooltip-placement='left')
                        img(
                          ng-src='{{user.result.avatar | dmGravatar:24}}')

                    .full-height.text-center
                      br
                      img.avatar-holder(
                          ng-src='{{user.result.avatar | dmGravatar:120}}',
                          ui-sref='index.devhero({id: user.result._id})',
                          analytics-category='menu',
                          analytics-on='click', analytics-event='profile.photo')
                      br
                      h3
                        a.ng-cloak(
                            ui-sref="index.devhero({id: user.result._id})",
                            analytics-category='menu',
                            analytics-on='click', analytics-event='navbar.profile.text')
                            | {{user.result.name}}
                      br
                      dm-xplatform-performance


                tab.cursor-pointer(
                    analytics-category='spacesidebar',
                    analytics-on='click', analytics-event='spacesidebar.zen',
                    disabled="true",
                    ng-click='changeFullScreen(true)'
                )
                    tab-heading.cursor-pointer(tooltip='Zen Mode', tooltip-placement='left')
                        span.fa.fa-dashboard

    .row(ng-style='{"height": bottombarHeight}', ui-view='bottombar')

