ul.nav.nav-tabs.menu
  li(
    tooltip="XPlatform", tooltip-placement="right", tooltip-animation='false'
    tooltip-append-to-body="true"
    )
    a(href="/",
      style="font-size: 1em",
      analytics-category='menu',
      analytics-on='click', analytics-event='leftbar.logo')
      img(src="static/images/xplatform-icon-trans.svg", width="14", height="14")

ul.nav.nav-tabs.agenda
  li(tooltip="Event Agenda", tooltip-placement="right", tooltip-animation='false',
    tooltip-append-to-body="true"
    ui-sref-active="active"
    )
    a(ui-sref="index.space.agenda",
      analytics-category='menu',
      analytics-on='click', analytics-event='leftbar.agenda')
      span.fa.fa-fw.fa-sitemap


ul.nav.nav-tabs.nav-stacked.users
  li.users-self(
    tooltip="You - {{user.result.name}}"
    tooltip-placement="right"
    tooltip-animation="false"
    tooltip-append-to-body="true"
    ui-sref-active='active'
    )
    span.user-badge(ng-show="user.result.workspaceListeners") {{user.result.workspaceListeners}}
    a(
      ui-sref="index.space.workspace({slide: workspaceId, parent:null})",
      )
      img.img-rounded(
        alt="{{user.result.name}}"
        ng-src='{{user.result.avatar | dmGravatar:28}}'
        )
.users-all(
  ng-scrollbar rebuild-on-resize
  ng-class="{'is-admin': user.result.acl.indexOf('admin:events') > -1}"
)
  ul.nav.nav-tabs.nav-stacked.users
    li(
      ng-repeat="user in uniqueUsers"
      tooltip="{{user.name}}"
      tooltip-animation="false"
      tooltip-placement="right"
      tooltip-append-to-body="true"
      ui-sref-active='active'
      )
      span.user-badge(ng-show="user.workspaceListeners") {{user.workspaceListeners}}
      a(
        ui-sref="index.space.watch({slide: user.workspaceId, parent:null})",
        )
        img(
          alt="{{user.name}}"
          ng-src="{{user.avatar | dmGravatar:20}}"
          )

ul.nav.nav-tabs.nav-stacked.users
  li(
      ng-if="user.result.acl.indexOf('admin:events') > -1"
      ng-class="{'active': $root.editMode}"
    )
    a.cursor-pointer(
      ng-click="$root.editMode = !$root.editMode"
      )
      span.fa.fa-fw.fa-pencil-square-o(ng-show="!$root.editMode")
      span.fa.fa-fw.fa-check-square-o(ng-show="$root.editMode")

  li(
      ng-if="user.result.acl.indexOf('trainer') > -1"
      ui-sref-active='active'
    )
    a(ui-sref="index.space.trainer")
      span.fa.fa-fw.fa-globe

  
