tab.cursor-pointer(
    analytics-category='spacesidebar',
    analytics-on='click', analytics-event='spacesidebar.user',
    select='toggleRight(true)',
    ng-click='toggleRight(true)'
)
    tab-heading.cursor-pointer(
      tooltip='{{ user.result.name }}', 
      tooltip-placement='left')
        img(
          ng-src='{{user.result.avatar | dmGravatar:24}}')

    .full-height.text-center
      br
      img.avatar-holder(
          ng-src='{{user.result.avatar | dmGravatar:120}}',
          ui-sref='index.devhero({id: user.result._id})',
          analytics-category='menu',
          analytics-on='click', analytics-event='profile.photo')
      br
      h3
        a.ng-cloak(
            ui-sref="index.devhero({id: user.result._id})",
            analytics-category='menu',
            analytics-on='click', analytics-event='navbar.profile.text')
            | {{user.result.name}}
      br
      dm-xplatform-performance



