tab.cursor-pointer(id='issues', active='tabs.issues',
  analytics-category='spacesidebar',
  analytics-on='click', analytics-event='spacesidebar.issues',
  select='toggleRight(true)',
  ng-click='toggleRight(true); notifications.unread=false',
)
  tab-heading.cursor-pointer(
      tooltip='Share Code',tooltip-animation='false',
      title="Share Code",
      tooltip-placement='left',
      tooltip-append-to-body="true"
  )
      span.tabs-badge.text-danger(ng-show="notifications.unread")
        span.fa.fa-circle
      span.fa.fa-share-alt
  .col-xs-12.dm-space-questions
      h3 Share Your Code
      div(
          ng-show="tabs.issues && right.opened"
          ng-controller='dmXplatformQuestion'
          ng-include='"/static/dm-xplatform/controllers/dm-xplatform-question/index.html"'
      )
