tab.cursor-pointer(id='menu', active='tabs.menu',
    analytics-category='spacesidebar',
    analytics-on='click', analytics-event='spacesidebar.menu',
    select='toggleRight(true)',
    ng-click='toggleRight(true)'
)
    tab-heading.cursor-pointer(tooltip='Iterations', tooltip-placement='left')
        span.fa.fa-tasks
    include ./dm-xplatform-space-menu
    
tab.cursor-pointer(
    analytics-category='spacesidebar',
    analytics-on='click', analytics-event='spacesidebar.agenda',
    select='toggleRight(true)',
    ng-click='toggleRight(true)',
    ng-if="event.liveLink"
)
    tab-heading.cursor-pointer(tooltip='Agenda', tooltip-placement='left')
        span.fa.fa-calendar
    iframe.full-frame(
            seamless=true,
            dm-iframe="{{ event.liveLink | liveLinkUrl:'agenda' }}")

// tab.cursor-pointer(
//     analytics-category='spacesidebar',
//     analytics-on='click', analytics-event='spacesidebar.ranking',
//     select='toggleRight(true)',
//     ng-click='toggleRight(true)',
//     ng-if="event.liveLink"
// )
//     tab-heading.cursor-pointer(tooltip='Ranking', tooltip-placement='left')
//         span.fa.fa-line-chart
//     iframe.full-frame(
//             seamless=true,
//             dm-iframe="{{ event.liveLink | liveLinkUrl:'ranking' }}")
//
//
tab.cursor-pointer(id='issues', active='tabs.issues',
  analytics-category='spacesidebar',
  analytics-on='click', analytics-event='spacesidebar.issues',
  select='toggleRight(true)'
)
  tab-heading(
      tooltip='Share Code',
      tooltip-placement='left'
  )
      span.fa.fa-warning
  .col-xs-12.dm-space-questions
      h3 Share Your Code
      div(
          ng-controller='dmXplatformQuestion'
          ng-include='"/static/dm-xplatform/controllers/dm-xplatform-question/index.html"'
      )

tab.cursor-pointer(id='stream', active='tabs.stream',
   analytics-category='spacesidebar',
   analytics-on='click', analytics-event='spacesidebar.stream',
   select='toggleRight(true)',
   ng-click='toggleRight(true)'
)
   tab-heading.cursor-pointer(tooltip='Docs', tooltip-placement='left')
       span.fa.fa-newspaper-o
   .col-xs-12.full-height
       .row.full-height(ui-view='first')


