div.burger-container
  div.pull-left(
    ng-repeat="display in burgers",
    ng-style="{width: 100 / burgers.length + '%'}")
    img.burger-img(
      ng-class="{invisible: !img.visible}", 
      ng-style="{'z-index': display.length-$index}", 
      ng-src="{{img.src}}", 
      ng-repeat="img in display track by $index"
    )
