mixin iframe(clazz, no)
  iframe.iframe-fiddle-output.scrollable-container(
    class=clazz
    sandbox="allow-scripts allow-forms allow-same-origin allow-popups"
    ng-class="{'is-active': activeFrame === #{no}, 'full-screen': model.iframeExpanded}"
    )

.sw-output-frame.slide-workspace-outputs.full-height(
    )
    .text-center(
      ng-if="isDead === true"
      )
      h1.text-danger
        span.fa.fa-power-off
      h4.text-muted No server at {{ baseUrl }}

    .text-center(
      ng-if="isHttpsWarning === true"
      )
      h1.text-warning
        span.fa.fa-exclamation-triangle
      h4.text-muted You are trying to access <code>http</code> over <code>https</code>
      h5.text-muted 
        | Please use <code>http</code> version of the page or 
        a(
          ng-href="{{currentUrl}}"
          target="_blank"
          )
          | open preview in separate window

    .text-center(
      ng-if="isHangWarning === true"
      )
      h1.text-warning
        span.fa.fa-exclamation-triangle
      h4.text-muted It seems that your code might have hanged your browser.
      h5.text-muted 
        | Please fix the code and then 
        a(
          ng-click="disableHangWarning()"
          )
          | enable live preview
      br
      button.btn.btn-success(
          ng-click="disableHangWarning()"
        )
        span.fa.fa-fw.fa-play
        span Enable Preview
    
    .full-height(
        ng-show="isDead === false && isHttpsWarning === false && isHangWarning === false"
        ng-class="{'sw-outputs-scaled': $root.performance.indexOf('workspace_output_scalling') !== -1}"
        )
      div.progress(
        ng-class="{'is-visible': percentOfProgress !== 0}"
        )
        div.progress-bar.progress-bar-success(
          style="width:{{ percentOfProgress }}%"
        )   
      +iframe('num-one', 0)
      +iframe('num-two', 1)
    .iframe-output-expander(
      ng-class="{'expanded': model.iframeExpanded}"
      ng-init='model.iframeExpanded = false'
      )
      span.fa.fa-fw.fa-expand(
          ng-show='!model.iframeExpanded'
          ng-click='model.iframeExpanded = !model.iframeExpanded'
        )
      span.fa.fa-fw.fa-compress(
          ng-show='model.iframeExpanded'
          ng-click='model.iframeExpanded = !model.iframeExpanded'
        )
