.sw-output-frame.slide-workspace-outputs.full-height(
    )
    .text-center(
      ng-if="isDead === true"
      )
      h1.text-danger
        span.fa.fa-power-off
      h4.text-muted No server at {{ baseUrl }}

    .text-center(
      ng-if="isWarning === true"
      )
      h1.text-warning
        span.fa.fa-exclamation-triangle
      h4.text-muted You are trying to access <code>http</code> over <code>https</code>
      h5.text-muted 
        | Please use <code>http</code> version of the page or 
        a(
          ng-href="{{currentUrl}}"
          target="_blank"
          )
          | open preview in separate window
    
    .full-height(
        ng-show="isDead === false && isWarning === false"
        ng-class="{'sw-outputs-scaled': $root.performance.indexOf('workspace_output_scalling') !== -1}"
        )
      div.progress(
        ng-class="{'is-visible': percentOfProgress !== 0}"
        )
        div.progress-bar(
          style="width:{{ percentOfProgress }}%"
        )   
      iframe.iframe-fiddle-output.scrollable-container.num-one(
        ng-class="{'is-active': activeFrame === 0}"
        )
      iframe.iframe-fiddle-output.scrollable-container.num-two(
        ng-class="{'is-active': activeFrame === 1}"
        )
