.col-xs-12

  .text-left
    h3 Create New Group
      form(
          ng-submit="createNewGroup(newGroupName)"
        )
        .row     
          .col-sm-5.form-group
            input.form-control(
              ng-model="newGroupName"
              placeholder="Insert Name Here"
              spellcheck="false"
            )
        
          button.col-sm-2.btn.btn-primary( 
            type="submit"
            )
            | Create

  h3.text-left Join Group 
    ul(
      dropdown=""
      dropdown-append-to-body=""
      )
      li.cursor-pointer(
        dropdown-toggle="" 
        )
        span.fa.fa-fw.fa-users
      ul.dropdown-menu
        li(
          ng-repeat="group in groups"
          ng-click="userJoinToGroup(group.name)"
          )
          a.cursor-pointer
            | {{ group.name }}

  h3.text-center Ranking (Users)
  table.table
    tr(ng-repeat="item in ranking")
      td
        img.img-responsive.img-rounded(
          ng-src="{{ item.user.avatar | dmGravatar:32 }}"
          tooltip="{{ item.user.name }}"
          tooltip-animate="false"
          tooltip-placement="right"
          )
      td(ng-repeat="it in event.iterations")
        span(ng-repeat="i in getTasks(item, $index)")
          span(ng-if="item.data[$parent.$index + '_' + i].isDone")
            span.fa.fa-fw.fa-check.text-success
          span(ng-if="!item.data[$parent.$index + '_' + i].isDone")
            span.fa.fa-fw.fa-minus.text-muted

  h2.text-center Ranking (Groups)
  h3.text-center(
    ng-repeat="group in groups"
    )
    | Group: {{ group.name }} - number of users: {{ group.ranks.length }}
    table.table
      tr(ng-repeat="rank in group.ranks")
        td(ng-repeat="it in event.iterations")
          span(ng-repeat="i in getTasks(rank, $index)")
            span(ng-if="rank.data[$parent.$index + '_' + i].isDone")
              span.fa.fa-fw.fa-check.text-success
            span(ng-if="!rank.data[$parent.$index + '_' + i].isDone")
              span.fa.fa-fw.fa-minus.text-muted

  pre
    span(ng-repeat="group in aggregatedGroups")
      | {{ group }}

  h2.text-center Ranking (Groups - aggregated)
  h3.text-center(
    ng-repeat="group in aggregatedGroups"
    )
    | Group: {{ group.name }} - users number: {{ group.noOfUsers }}
    table.table
      tr(ng-repeat="iteration in group.results")
        td(ng-repeat="result in iteration track by $index")
          | {{ result }}/{{ group.noOfUsers }}


      


