.col-xs-12

  .text-left
    h3 Create New Group
      form(
          ng-submit="createNewGroup(newGroupName)"
        )
        .row     
          .col-sm-5.form-group
            input.form-control(
              ng-model="newGroupName"
              placeholder="Insert Name Here"
              spellcheck="false"
            )
        
          button.col-sm-2.btn.btn-primary( 
            type="submit"
            )
            | Create

  h3.text-left Join Group 
    span(
      dropdown=""
      dropdown-append-to-body="" 
      )
      a.cursor-pointer(
        dropdown-toggle="" 
        )
        span.fa.fa-fw.fa-users
      ul.dropdown-menu
        li(
          ng-repeat="group in groups"
          ng-click="userJoinToGroup(group.name)"
          )
          a.cursor-pointer
            | {{ group.name }}

  h3.text-center(ng-init="currentRankingView = rankingViews[1]")
    | {{ currentRankingView }}
    span(
      dropdown=""
      dropdown-append-to-body=""
      )
      a.cursor-pointer(
        dropdown-toggle="" 
        )
        span.fa.fa-fw.fa-cog
      ul.dropdown-menu
        li(
          ng-repeat="view in rankingViews"
          ng-click="currentRankingView = view; console.log(currentRankingView)"
          )
          a.cursor-pointer
            | {{ view }}

  table.table(ng-if="currentRankingView === rankingViews[0]")
    tr(
      ng-repeat="item in ranking")
      td
        img.img-responsive.img-rounded(
          ng-src="{{ item.user.avatar | dmGravatar:32 }}"
          tooltip="{{ item.user.name }}"
          tooltip-animate="false"
          tooltip-placement="right"
          )
      td(ng-if="item.user.group")
        | {{ item.user.group }}
      td(ng-repeat="it in event.iterations")
        span(ng-repeat="i in getTasks(item, $index)")
          span(ng-if="item.data[$parent.$index + '_' + i].isDone")
            span.fa.fa-fw.fa-check.text-success
          span(ng-if="!item.data[$parent.$index + '_' + i].isDone")
            span.fa.fa-fw.fa-minus.text-muted

  //h3.text-center Ranking (Groups)
  //table.table(
    ng-repeat="group in groups"
    )
    tr(ng-repeat="rank in group.ranks")
      | Group: {{ group.name }} - users number: {{ group.ranks.length }}
      td
        img.img-responsive.img-rounded(
          ng-src="{{ rank.user.avatar | dmGravatar:32 }}"
          tooltip="{{ rank.user.name }}"
          tooltip-animate="false"
          tooltip-placement="right"
          )
      td(ng-repeat="it in event.iterations")
        span(ng-repeat="i in getTasks(rank, $index)")
          span(ng-if="rank.data[$parent.$index + '_' + i].isDone")
            span.fa.fa-fw.fa-check.text-success
          span(ng-if="!rank.data[$parent.$index + '_' + i].isDone")
            span.fa.fa-fw.fa-minus.text-muted

  //pre
    div(ng-repeat="group in aggregatedGroups")
      | {{ group }}

  div(
    ng-if="currentRankingView === rankingViews[1]"
    ng-repeat="group in aggregatedGroups"
    )
    h3.text-center
      | Group: {{ group.name }} - users number: {{ group.noOfUsers }}
    table.table
      tr(ng-repeat="iteration in group.results")
        td(ng-repeat="result in iteration track by $index")
          | {{ result }}/{{ group.noOfUsers }}


      


