sw-editor-tools(
  ng-if="model.withTools"
  with-url-button="model.withToolsUrl"
  show-url="model.showUrl"
  current-url="model.currentUrl"
  download-id="model.downloadId"
  active-tab="model.editorActiveTab"
  active-tab-name="model.editorActiveTabName"
  on-new-workspace="model.localOnNewWorkspace(workspace)"
  on-refesh-content="model.onRefreshContent()"
)

sw-editor-tabs(
  ng-if="model.isWithTabs()"
  tabs="model.filteredTabs"
  all-tabs="model.tabs"
  active-tab-name="model.editorActiveTabName"
  editor-undo-manager="model.editorUndoManager"  
)

.sw-editor(
  ng-class="{'with-tabs': model.isWithTabs()}"
)
  dm-editor(
    size='"xxl"', 
    data='model.editorActiveTab',
    name='model.editorActiveTabName',
    undo-manager='model.editorUndoManager',
    options='model.editorOptions',
    editor-mode='model.editorMode',
    trigger-change-later='model.onChange()'
    on-save-action='model.onRefresh()'
  )
