.player-bottombar-wave
    dm-wavesurfer(dm-scroll='false', dm-src='chapter.videodata.url', dm-start-second='state.startSecond', dm-current-second='state.currentSecond', dm-is-Playing='state.isPlaying', dm-duration='state.audioDuration')
    dm-timeline(callback='pointSelected', length='state.audioDuration', snippets='snippets', tasks='tasks')

nav.navbar.navbar-default.navbar-fixed-bottom.player-bottombar(role="navigation")
    .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
    .navbar-collapse.collapse.navbar-inverse-collapse
        ul.player-list.player-right
            li(ng-if='editMode') {{state.currentSecond | number: 1}}
            li(ng-if='editMode')
                button.btn(type='button', ng-click='editSnippet(fasle, "snippet")')
                    i.fa.fa-file-text
            li(ng-if='editMode')
                button.btn(type='button', ng-click='editSnippet(false, "task")')
                    i.fa.fa-star
            li
                button.btn(type='button', ng-click='showRight = !showRight')
                    i.fa.fa-outdent(ng-if='!showRight')
                    i.fa.fa-indent(ng-if='showRight')
        .navbar-left.player-center
            a.navbar-brand
                span.fa.fa-step-backward.cursor-pointer(
                    ng-click="state.onLeftButtonPressed()", 
                    analytics-category='player',
                    analytics-on='click', analytics-event='bottom.prev')
                span.fa.cursor-pointer(
                    ng-class="{'fa-play':!state.isPlaying, 'fa-pause':state.isPlaying}", 
                    ng-click="state.isPlaying = !state.isPlaying", 
                    analytics-category='player',
                    analytics-on='click', analytics-event='bottom.playPause')
                span.fa.fa-step-forward.cursor-pointer(
                    ng-click="state.onRightButtonPressed()", 
                    analytics-category='player',
                    analytics-on='click', analytics-event='bottom.next')

