.container-fluid
  .row
    .col-xs-12
      h1.text-center {{ course.title }}
      h3.text-muted.text-center Course is locked
      h3.text-muted.text-center(
        ng-if="course.realPin"
        ) 
        | PIN: {{ course.realPin }}
  .row
    .col-xs-6.col-xs-offset-3.text-center
      form(ng-submit="onUnlock(pin)")
        .form-group(
            ng-class="{ 'has-error' : wrongPin}"
          )
          input.form-control(
            type="number"
            ng-model="pin"
            ng-change="wrongPin = false"
            placeholder="PIN"
          )
        .form-group
          button.btn.btn-success(
              type="submit"
            )
            span.fa.fa-fw.fa-unlock
            | Unlock
