.row
  .col-xs-12
    .list-group
      .list-group-item(
        ng-repeat="note in model.notes.notes"
        marked="note"
        )
      .list-group-item(
        marked="model.notes.current"
        )
    form(
      ng-if="model.mode !== 'player'"
      ng-submit="model.addNote()"
      )
      .form-group
        .input-group
          input.form-control(
            ng-model="model.notes.current"
            placeholder="Your notes"
            )
          .input-group-btn
            button.btn.btn-default(type="submit")
              span.fa.fa-send
        
