.col-xs-12.full-height
  .full-height.dm-xplatform-agenda
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
      h1.text-center {{event.title}}
      h3.text-center.text-muted(ng-if="event.name")
        a(href="{{url}}/-{{event.name}}", target="blank")
          | {{url}}/-{{event.name}}

      br
      .list-group
        .list-group-item(
          ng-if="event.intro"
          )
          h4.list-group-item-heading
            a(ui-sref='index.space.slide({event: event._id, slide: event.intro})')
              span.nav-icon.fa.fa-question-circle
              span Intro

        .list-group-item(
          ng-repeat="i in event.iterations"
          )
          h4.list-group-item-heading {{$index + 1}}. {{i.title}}
          .list-group-item-text.clearfix
            .row
              .col-md-6
                ul.nav.nav-pills.nav-stacked
                  li(ng-repeat="material in i.materials")
                    a.dm-external-link(ng-href="/decks/{{material.deck.deck}}?from={{material.deck.from}}&to={{material.deck.to}}&name={{material.title}}", target="_blank", ng-if="material.deck.deck")
                        span.fa.fa-external-link

                    a.dm-external-link(ui-sref='index.space.player({iteration: $parent.$parent.$index, material: material._id, withVoice:true})',
                      ng-if="material.url")
                        span.fa.fa-volume-up
                    a(ui-sref='index.space.player({iteration: $parent.$parent.$index, material: material._id})', ng-if="material.material")
                        span.fa.fa-film.nav-icon
                        span {{material.title}}
                    a(ui-sref='index.space.deck({iteration: $parent.$parent.$index, deck: material.deck.deck, from: material.deck.from, to: material.deck.to, name: material.title})',
                        ng-if="material.deck.deck")
                        span.fa.fa-university.nav-icon
                        span {{material.title}}
              .col-md-6
                ul.nav.nav-pills.nav-stacked
                  li(ng-repeat='task in i.tasks', ui-sref-active="active")
                    a.dm-external-link(ng-href="{{task.url}}", target="_blank")
                      span.fa.fa-external-link

                    a(ui-sref='index.space.todo({iteration: $parent.$index, todo: task._id})')
                      span.fa.fa-pencil.nav-icon
                      span {{task.title}}

// .col-sm-6.full-height(ng-if="event.liveLink")
// iframe.full-frame(
// ng-if="event.liveLink"
// seamless=true,
// dm-iframe="{{ event.liveLink | liveLinkUrl:'' }}"
// dm-iframe-timeout="300"
// )
// iframe.full-frame(
// seamless=true,
// dm-iframe="{{ event.liveLink | liveLinkUrl:'agenda' }}")
// iframe.full-frame(
// seamless=true,
// dm-iframe="{{ event.liveLink | liveLinkUrl:'ranking' }}")

