.col-sm-6.col-sm-offset-3
  include ../dm-xplatform-space/dm-xplatform-space-menu.jade
  iframe.full-frame(
    seamless=true,
    dm-iframe="{{ event.liveLink | liveLinkUrl:'ranking' }}")
  iframe.full-frame(
    ng-if="event.liveLink"
    seamless=true,
    dm-iframe="{{ event.liveLink | liveLinkUrl:'agenda' }}")

