.form-group.workspace-address(
  ng-show="model.withAddress"
)
  .input-group
    .input-group-btn
      button.btn(
          ng-class="{'btn-success': model.highlightRefresh, 'btn-def': !model.hightlightRefresh}",
          ng-click="model.onRefresh()"
        )
        span.fa.fa-refresh
    .form-control.address-bar
      div(ng-bind="model.hideBaseUrl ? 'localhost' : model.baseUrl")
      input.form-control(
          type="text", 
          ng-model="model.currentPath",
          ng-keypress="model.urlKeyPress($event)",
          ng-blur="model.appliedPath = model.currentPath"
        )
    .input-group-btn(
      ng-if="model.workspaceId"
      )
      a.btn(
        title="Open Preview In New Window",
        ng-href="/api/workspace/page/{{model.workspaceId}}{{model.currentPath}}", 
        target="_blank", 
        analytics-event="workspace-newWindow",
        analytics-category="workspace")
            span.fa.fa-external-link
    .input-group-btn
      a.btn(
        title="Get Permanent URL For Current Workspace",
        ng-href="{{ model.baseUrl + model.currentPath }}", 
        target="_blank", 
        analytics-event="workspace-newWindow",
        analytics-category="workspace")
            span.fa.fa-link


