.form-group.workspace-address(
  ng-show="model.withAddress"
)
  .input-group
    .input-group-btn
      button.btn(
          ng-class="{'btn-success': model.highlightRefresh, 'btn-def': !model.hightlightRefresh}",
          ng-click="model.onRefresh()"
        )
        span.fa.fa-refresh
    .form-control.address-bar
      div(ng-bind="model.hideBaseUrl ? 'localhost' : model.baseUrl")
      input.form-control(
          type="text", 
          ng-model="model.currentPath",
          ng-keypress="model.urlKeyPress($event)",
          ng-blur="model.appliedPath = model.currentPath"
        )
    .input-group-btn(
      ng-if="model.workspaceId"
      )
      a.btn(
        tooltip="Open Preview In New Window"
        tooltip-placement="bottom"
        tooltip-animation="false"
        tooltip-append-to-body="true"
        ng-href="{{ model.getWorkspaceAddress() }}"
        target="_blank"
        analytics-event="workspace-newWindow"
        analytics-category="workspace"
        )
            span.fa.fa-external-link
    .input-group-btn(
      ng-if="model.workspaceId"
      )
      a.btn(
        ng-click="model.openQrDialog(model.getFullWorkspaceAddress())"
        tooltip="Display QRCode to open page on your device"
        tooltip-placement="bottom"
        tooltip-animation="false"
        tooltip-append-to-body="true"
        analytics-event="workspace-qrcode"
        analytics-category="workspace"
        )
            span.fa.fa-qrcode
    .input-group-btn(ng-transclude)
    .input-group-btn
      a.btn(
        tooltip="Get Permanent URL For Current Workspace"
        tooltip-placement="bottom"
        tooltip-animation="false"
        tooltip-append-to-body="true"
        ng-href="{{ model.baseUrl + model.currentPath }}"
        target="_blank"
        analytics-event="workspace-permaUrl"
        analytics-category="workspace"
        )
            span.fa.fa-link


