extends ../layouts/main

append scripts
  script.
    window.slides = "#{slides}";
  script(src='/static/components/requirejs/require.js')
  script(src='/static/js/config.js?v=#{cacheBustingVersion}')
  script(src='#{jsModulesPath}/slider-deck.js?v=#{cacheBustingVersion}')

block title
  title {{ title }} - #{title}

block content
  div(ng-init="$root.editMode=#{editMode}")
  div.full-height(ng-controller="SliderCtrl")
    splitter
      section(class="col-sm-{{ splitter.size }}")
        plugins-loader(namespace="'deck.slides'", context="deckSlides")
        plugins-loader(ng-repeat="mode in modes", namespace="mode", context="deck")
      aside(class="col-sm-{{ 12 - splitter.size }}")
        sidebar-control(splitter="splitter")
        plugins-loader(namespace="'deck.sidebar'", context="deck")