extends ../layouts/main


block content
  div.col-md-12
    h1
      | Xplatform
  div.col-md-4
    h2
      | Slajdy
    ul.list-group
      each deck in decks
        li.list-group-item
          span.badge
            | #{deck.slides.length}
          a(href="/slides/#{deck._id}")
            | #{deck.title}
      else
        h2
          | No slides created yet. Head to 
          a(href="/admin/") Admin area
          | .
  
  div.col-md-6
    h2
      | Najbliższe szkolenia
    ul.list-group
      each event in events
        li.list-group-item
          a
            | #{event.title} 
          strong
            label.pull-right.text-warning 
              span.glyphicon.glyphicon-time.pull-right
              | #{event.date}&nbsp; 



