extends ../layouts/main

append scripts
  script(src='/static/components/requirejs/require.js')
  script(src='/static/js/config.js')
  script(src='#{jsModulesPath}/slider-index.js')

block content
  div(ng-init="")
    div(ng-controller='IndexCtrl')
      div(masonry)
        div.masonry-brick(ng-repeat='brick in bricks')
          {{brick}}
  div.col-md-12
    h1
      | Xplatform
  div.col-md-4
    h2
      | Zestawy slajdów
    ul.list-group
      each deck in decks
        li.list-group-item
          span.badge
            | #{deck.slides.length}
          a(href="/decks/#{deck._id}")
            | #{deck.title}
      else
        h2
          | No slides created yet. Head to 
          a(href="/admin/") Admin area
          | .
  
  div.col-md-6
    h2
      | Najbliższe szkolenia
    ul.list-group
      each event in events
        li.list-group-item
          a
            | #{event.title} 
          strong
            label.pull-right.text-warning 
              span.glyphicon.glyphicon-time.pull-right
              | #{event.date}&nbsp; 



