extends ../layouts/main

append scripts
    script.
        window.slideId = "#{slide}";
    script(src='/static/components/requirejs/require.js')
    script(src='/static/config.js?v=#{cacheBustingVersion}')
    script(src='#{jsModulesPath}/dm-slider/slider-slide#{cacheBustingVersion}.js')

block content
    div(ng-init="$root.modes.isEditMode=#{editMode}")
        div(ng-init="$root.modes.isSliderMode=true")
        .container-fluid(ng-controller="SlideCtrl")
            .row.full-height
                .col-lg-12.full-height
                    plugins-loader(namespace="'slide'", context="slide.content")
                    plugins-loader(ng-if="modes.isEditMode", namespace="'slide.edit'", context="slide.content")
