.full-height(
  ng-controller="dmXplayerPlayer")
    dm-recorder-recorder(recorder='recorder')
      dm-xplayer-full(
        ng-if="state"
        state='state', 
        annotations='annotations', 
        recording='recording',
        recorder='recorder'
        with-sidebar="true",
        audio-url='false'
        )
