.full-height(
  ng-controller="dmXplayerPlayer")
    dm-xplayer-full(
      ng-if="state"
      state='state', 
      annotations='annotations', 
      recording='recording',
      with-sidebar="true",
      audio-url='false'
      )
