.full-height(ng-if="historyId")
  dm-recorder-context(recorder='recorder')
    dm-xplayer-full(
      state='state'
      annotations='annotations'
      recording='recording'
      recorder='recorder'
      audio-url='false'
      on-first-run='autoGoFullScreen()'
      )
