extends ../layouts/main

append scripts
    script.
        window.slides = "#{slides}";
    script(src='/static/jspm_packages/system.js?v=#{cacheBusingVersion}')
    script(src='/static/jspm.config.js?v=#{cacheBusingVersion}')
    script.
      System.import('dm-slider/slider-deck#{cacheBustingVersion}').then(function(){}, function(err){
        throw err;
      });

block title
    title {{ title }} - #{title}

block content
    div(ng-init="$root.modes.isEditMode=#{editMode}")
    div(ng-init="$root.from='#{from}'; $root.to='#{to}';")
    div.full-height(ng-controller="SliderCtrl")
        .col-sm-12.full-height
          .row.full-height
            dm-recorder-context(recorder='recorderDeck')
              plugins-loader(namespace="'deck.slides'", context="deckSlides", path='.', recorder='recorderDeck')
              plugins-loader(namespace="'deck'", context="deck", path='.', recorder='recorderDeck')
              plugins-loader(ng-if="modes.isEditMode", namespace="'deck.edit'", context="deck", path='.', recorder='recorderDeck')  

