div.text-left
  .panel(ng-repeat="i in event.iterations")
    .panel-heading
      h3.panel-title(ng-if="!$root.editMode")
        | {{ i.title }}
      input.form-control.input-sm(
        ng-if="$root.editMode"
        ng-model="i.title"
        placeholder="Iteration Name"
      )
    .panel-body
      ul.nav.nav-tabs.nav-stacked(ng-if="!$root.editMode")
        li(
          ui-sref-active="active"
          ng-repeat="material in i.materials"
          )
          a(
            ui-sref='index.space.learn.player({iteration: $parent.$parent.$index, material: material._id})'
            ng-if="material.material"
            )
              span.fa.fa-film.nav-icon.fa-fw
              span.number {{$index + 1}}.
              span.title &nbsp;{{material.title}}
          a(
            ui-sref='index.space.learn.deck({iteration: $parent.$parent.$index, deck: material.deck.deck, from: material.deck.from, to: material.deck.to, name: material.title})'
            ng-if="material.deck.deck"
            )
              span.fa.fa-university.nav-icon.fa-fw
              span.number {{$index + 1}}.
              span.title &nbsp;{{material.title}}

      ul.nav.nav-tabs.nav-stacked(ng-if="$root.editMode")
        li(
          ui-sref-active="active"
          ng-repeat="material in i.materials"
          )
          input.form-control.input-sm(
            ng-model="material.title"
            placeholder="Material Title"
          )

      ul.nav.nav-tabs.nav-stacked(ng-if="!$root.editMode")
        li(
          ng-repeat="task in i.tasks"
          ng-class="{'active': activeTask === task}"
          )
          a(
            ui-sref='index.space.learn.workspace({iteration: $parent.$index, todo: $index, slide: userWorkspaceId})'
            )
            span.fa.fa-pencil.nav-icon
            span {{task.title}}

          .panel(ng-if="activeTask === task")
            .panel-body
              dm-event-task-details(task-url="activeTask.url" current-iteration-idx="$index")
    


      ul.nav.nav-tabs.nav-stacked(ng-if="$root.editMode")
        li(
          ui-sref-active="active"
          ng-repeat="task in i.tasks"
          )
          .form-group
            input.form-control.input-sm(
              ng-model="task.title"
              placeholder="Task Title"
            )
          .form-group
            input.form-control.input-sm(
              ng-model="task.url"
              placeholder="Task URL"
            )





