.container-fluid
  .row
    .col-xs-10.col-xs-offset-1.text-left
      h3 {{ textForUser }}
      form
        .form-group
          input.form-control(
            ng-model="path"
            focus-me="true"
          )
      button.btn.btn-warning.pull-left(
          ng-click="cancel()"
          style="width: 50%"
        )
        | Cancel
      button.btn.btn-primary.pull-right(
          ng-click="ok(path)"
          style="width: 50%"
        )
        | OK