.sw-editor-tabs.sw-workspace-tab-container(dm-defer="300")
  ul.nav.nav-tabs(
    data-intro="All Files in your workspace are available here. Make sure to check what additional buttons do by hovering your mouse." data-position="bottom"
    ng-if="model.tabsObjects.length < model.moveTabsLeftThreshold"
    )
    li.workspace-tab.workspace-file-tab(
      ng-repeat="tab in model.tabsObjects",
      ng-class="{'workspace-tab-active': model.activeTabName === tab.name }"
      )
      a.cursor-pointer(
        class="{{ 'type-' + tab.type }}",
        ng-click="model.activateTab(tab.name);"
        tooltip="{{ tab.fileName }}"
        tooltip-enable="model.shouldDisplayTooltip(tab.name)"
        tooltip-placement="bottom"
        tooltip-animation="false"
        tooltip-append-to-body="true"
        ) 
        span.fa-fw.workspace-tab-icon
          span.fa.fa-circle.type-icon
          span.text-muted.fa.fa-close.cursor-pointer(
            ng-click="model.removeTab(tab.name); $event.stopPropagation()", 
            tooltip="Delete", tooltip-placement="bottom",tooltip-animation='false',tooltip-append-to-body="true",
            analytics-event="workspace-deleteTab", analytics-category="workspace")

        |  {{ tab.fileName }}
            
    li.workspace-tab.add-tab
      a.cursor-pointer(
        ng-click="model.insertTab()"
        tooltip="Add New File"
        tooltip-placement="bottom"
        tooltip-animation="false"
        tooltip-append-to-body="true"
        )
        | +

.sw-editor-tabs.pull-left.sw-tabs(
  ng-if="model.tabsObjects.length >= model.moveTabsLeftThreshold"
  dm-defer="400"
  )
  treecontrol.tree-classic(
    tree-model="model.treeStructure"
    options="model.treeOptions"
    on-selection="model.activateTab(node.path)"
    expanded-nodes="model.expandedNodes"
    selected-node="model.selectedNode"
    )
    span.path(
      tooltip="{{ node.fileName }}"
      tooltip-enable="model.shouldDisplayTooltip(node.fileName)"
      tooltip-placement="bottom"
      tooltip-animation="false"
      tooltip-append-to-body="true"
      )
      | {{ node.fileName }}
    sw-editor-tabs-options-dropdown(
      node="node"
      edit-tab-name="model.editTabName(path)"
      remove-tab="model.removeTab(path)"
      prompt-for-name="model.promptForName(textForUser, path)"
      make-tab="model.makeTab(path)"
      make-path-edition="model.makePathEdition(oldPath, newPath)"
      delete-tab-and-fix-active="deleteTabAndFixActive(path)"
      )

  .sw-editor-tabs(
    ng-show="model.showTreeview"
    )
    ul.nav.nav-tabs
      li.workspace-tab(style="width: 150px")
        a.cursor-pointer(
          ng-click="model.insertTab()"
          tooltip="Add New File"
          tooltip-placement="bottom"
          tooltip-animation="false"
          tooltip-append-to-body="true"
          )
          | +



