.container-fluid
  .row
    .col-xs-12.text-left(
        style="padding-top: 12px"
      )
      h4 {{ textForUser }}
      span(
        ng-show="mode === 'removeMode'"
        style="height: 12px"
        )
      form(
          ng-show="mode !== 'removeMode'"
        )
        .form-group
          input.form-control(
            ng-model="path"
            focus-me="true"
            style="color: black; border-radius: 0"
          )
    .col-xs-12(
        style="padding: 0"
      )
      button.btn.btn-default.pull-left(
          ng-click="cancel()"
          style="width: 50%; border-radius: 0"
        )
        | Cancel
      button.btn.btn-primary.pull-right(
          ng-show="mode !== 'removeMode'"
          ng-click="ok(path)"
          style="width: 50%; border-radius: 0"
        )
        | OK
      button.btn.btn-danger.pull-right(
          ng-show="mode === 'removeMode'"
          ng-click="delete(oldPath)"
          style="width: 50%; border-radius: 0"
        )
        | Delete
    